# New Red Bull API

For the Safari Rally Kenya, April 2025, a new API appears to have been introduced.

Now might be a good time to move everything into a database:

- all API calls are used to populate a database;
- all queries are made against the database;
- logic determines whether to upsert items to the database via new API calls.

In [ ]:
import logging

logger = logging.getLogger(__name__)
logging.basicConfig(level=logging.INFO)

from urllib.parse import urljoin
import datetime
from sqlite_utils import Database
from jupyterlite_simple_cors_proxy.cacheproxy import CorsProxy, create_cached_proxy
import os
import sqlite3
from wrc_rallydj.db_table_schemas import SETUP_V2_Q
from pandas import read_sql, DataFrame, json_normalize, merge, concat


# The WRCLiveTimingAPIClientV2() constructs state on a season basis
class WRCLiveTimingAPIClientV2:
    RED_BULL_LIVETIMING_API_BASE = (
        "https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/"
    )

    def __init__(
        self,
        year: int = datetime.date.today().year,
        championship: str = "wrc",
        category: str = "Drivers",
        group: str = "all",
        dbname: str = "wrcRbAPITiming.db",
        newDB: bool = False,
        use_cache: bool = False,
        **cache_kwargs,
    ):
        # Initialize the proxy with caching if requested
        if use_cache:
            self.proxy = create_cached_proxy(**cache_kwargs)
        else:
            self.proxy = CorsProxy()

        self.year = year
        # TO DO - more logic yet surrounding championship
        self.championship = championship  # Informal: WRC, WRC2, WRC3, JWRC

        self.category = category
        self.seasonId = None
        self.rallyId = None
        self.eventId = None
        self.eventName = None
        self.championshipId = None
        self.championshipName = None
        self.stageId = None
        self.stageName = None
        self.stageCode = None

        # DB setup
        self.conn = None
        self.dbname = dbname
        # In the DB initialise phase also set self.seasonId
        self.setup_db(newdb=newDB)

    def initialise(self, year=None, championship=None):
        if year:
            self.year = year
        if championship:
            self.championship = championship

        self.getChampionships(updateDB=True)

        # In the initialise phase, take the opportunity to update the season table
        # whilst also setting self.seasonId
        self.setSeason()

        # Set self.championshipId
        self.setChampionship()

    # db utils
    def cleardbtable(self, table, conn=None):
        """Clear the table whilst retaining the table definition"""
        conn = conn if conn else self.conn

        c = conn.cursor()
        c.execute('DELETE FROM "{}"'.format(table))

    def dbfy(
        self,
        df,
        table,
        if_exists="upsert",
        pk=None,
        index=False,
        clear=False,
        conn=None,
        **kwargs,
    ):
        """Save a dataframe as a SQLite table.
        Clearing or replacing a table will first empty the table of entries but retain the structure.
        """

        conn = conn if conn else self.conn

        # Upsert requires a PK
        if if_exists == "upsert" and not pk:
            return

        # print('{}: {}'.format(table,df.columns))
        if if_exists == "replace":
            clear = True
            if_exists = "append"
        if clear:
            self.cleardbtable(table)

        # Get columns
        q = "PRAGMA table_info({})".format(table)
        cols = read_sql(q, conn)["name"].tolist()
        for c in df.columns:
            if c not in cols:
                print(
                    "Hmmm... column name `{}` appears in data but not {} table def?".format(
                        c, table
                    )
                )
                df.drop(columns=[c], inplace=True)

        logger.info(f"Updating {table}...")

        if if_exists == "upsert":
            DB = Database(conn)
            DB[table].upsert_all(df.to_dict(orient="records"), pk=pk)
        else:
            df.to_sql(table, conn, if_exists=if_exists, index=index)

    def setup_db(self, dbname=None, newdb=False):
        """Setup a database, if required, and return a connection."""
        logger.info("Initialising the database...")

        if dbname is not None:
            self.dbname = dbname
        dbname = self.dbname

        # In some situations, we may want a fresh start
        if os.path.isfile(dbname) and newdb:
            os.remove(dbname)

        if not os.path.isfile(dbname):
            # No db exists, so we need to create and populate one
            newdb = True

        # Open database connection
        self.conn = conn = sqlite3.connect(dbname, timeout=10)

        if newdb:
            logger.info("Creating new db tables...")
            # Setup database tables
            c = conn.cursor()
            c.executescript(SETUP_V2_Q)
            # c.executescript(SETUP_VIEWS_Q)

            # Populate the database with seasons info
            # self._getSeasons(updateDB=True)
            # Initialise the seasonId
            self.seasonId = self._getSeasons(
                self.championship, self.year, updateDB=True
            ).iloc[0]["seasonId"]
            # Update the season detail
            self._getSeasonDetail(updateDB=True)

            # Populate the database with event metadata
            # self.dbfy(conn, getEventMetadata(), "event_metadata", if_exists="replace")

            # Get geo bits
            # kml_processor(meta["event_meta"])

            # Save the entry list, initial itinerary etc
            # _save_rally_base(meta, conn)

        return conn

    def _WRC_RedBull_json(self, path, base=None, retUrl=False):
        """Return JSON from API."""
        base = self.RED_BULL_LIVETIMING_API_BASE if base is None else base
        url = urljoin(base, path)
        print(url)
        if retUrl:
            return url
        # print(f"Fetching: {url}")
        try:
            r = self.proxy.cors_proxy_get(url)
        except:
            print("Error trying to load data.")
            return {}
        # r = requests.get(url)
        rj = r.json()
        if "status" in rj and rj["status"] == "Not Found":
            return {}
        return r.json()

    @staticmethod
    def subtract_from_rows(df, colsList, ignore_first_row=True):
        """
        Subtracts the values of specified columns in the first row from all rows except the first.
        Modifies the DataFrame in place.

        Parameters:
        df (DataFrame): The DataFrame to modify.
        colsList (list): List of column names to subtract.
        """
        df = df.copy()
        df.loc[int(ignore_first_row) :, colsList] -= df.loc[0, colsList].values.astype(
            float
        )  # Perform subtraction directly
        return df

    @staticmethod
    def rebaseTimes(times, rebaseId=None, idCol=None, rebaseCol=None):
        """Rebase times based on the time for a particular vehicle."""
        if not rebaseId or rebaseId == "NONE" or idCol is None or rebaseCol is None:
            return times
        return times[rebaseCol] - times.loc[times[idCol] == rebaseId, rebaseCol].iloc[0]

    @staticmethod
    def rebaseManyTimes(
        times, rebaseId=None, idCol=None, rebaseCols=None, inplace=False
    ):
        """Rebase times in several specified columns relative to a particular vehicle."""
        if not inplace:
            if not rebaseId or rebaseId == "NONE":
                return times
            times = times.copy()

        if rebaseId and rebaseId != "NONE":
            # Ensure rebaseCols is a list
            rebaseCols = [rebaseCols] if isinstance(rebaseCols, str) else rebaseCols

            # Fetch the reference values for the specified 'rebaseId'
            reference_values = times.loc[times[idCol] == rebaseId, rebaseCols].iloc[0]

            # Subtract only the specified columns
            times[rebaseCols] = times[rebaseCols].subtract(reference_values)

            if not inplace:
                return times

    @staticmethod
    def rebaseWithDummyValues(times, replacementVals, rebaseCols=None):
        """
        Add a dummy row, rebase the values, then remove the dummy row.

        :param times: DataFrame containing the data to be modified
        :param replacementVals: List of values to replace for each column in rebaseCols
        :param rebaseCols: List of columns to apply the rebase operation
        :return: Modified DataFrame with rebased values
        """
        if rebaseCols is None:
            return times
        times = times.copy()
        # TO DO:
        # should we have a generic checker that rebase cols are available
        # or subset to the ones that are?
        # If rebaseCols is not a list, make it a list
        rebaseCols = [rebaseCols] if isinstance(rebaseCols, str) else rebaseCols

        # Ensure replacementValsList is the same length as rebaseCols
        if len(replacementVals) != len(rebaseCols):
            raise ValueError(
                "replacementValsList must have the same length as rebaseCols"
            )

        # Create a dummy row with the replacement values
        dummy_row = {col: val for col, val in zip(rebaseCols, replacementVals)}

        # Append the dummy row to the DataFrame
        times = times.append(dummy_row, ignore_index=True)

        # Rebase using the dummy row (rebase the last row in the DataFrame)
        times[rebaseCols] = times[rebaseCols].subtract(
            times.loc[times.index[-1], rebaseCols]
        )

        # Remove the dummy row
        times = times.drop(times.index[-1])

        return times

    def _getSeasonsSubQuery(self, seasons_df, championship=None, year=None):
        if championship is not None:
            if championship.lower() == "wrc":
                championship = "World Rally Championship"
            elif championship.lower() == "erc":
                championship = "European Rally Championship"
            seasons_df = seasons_df[seasons_df["name"] == championship]

        if year is not None:
            seasons_df = seasons_df[seasons_df["year"] == year]
        return seasons_df

    def _getSeasons(self, championship=None, year=None, updateDB=False):
        """The seasons feed is regularly updated throughout the season."""
        stub = f"seasons.json"
        json_data = self._WRC_RedBull_json(stub)
        seasons_df = DataFrame(json_data)
        if seasons_df.empty:
            return DataFrame()

        if updateDB:
            self.dbfy(seasons_df, "seasons", pk="seasonId")

        seasons_df = self._getSeasonsSubQuery(seasons_df, championship, year)
        return seasons_df

    def getSeasons(self, championship=None, year=None, updateDB=False):
        if updateDB:
            self._getSeasons(championship, year, updateDB)

        q = "SELECT * FROM seasons;"
        seasons_df = read_sql(q, self.conn)

        return self._getSeasonsSubQuery(seasons_df, championship, year)

    def setSeason(self):
        self.seasonId = self._getSeasons(
            self.championship, self.year, updateDB=True
        ).iloc[0]["seasonId"]

    # This datafeed is partial at the start of the season
    # and needs to be regularly updated
    def _getSeasonDetail(self, updateDB=False):
        stub = f"season-detail.json?seasonId={self.seasonId}"
        json_data = self._WRC_RedBull_json(stub)
        if "championships" not in json_data:
            return DataFrame(), DataFrame(), DataFrame()

        championships_df = DataFrame(json_data["championships"])
        seasonRounds_df = DataFrame(json_data["seasonRounds"])
        _seasonRounds_df = json_normalize(seasonRounds_df["event"])
        _cols = [
            "eventId",
            "countryId",
            "name",
            "slug",
            "location",
            "startDate",
            "finishDate",
            "timeZoneId",
            "timeZoneName",
            "timeZoneOffset",
            "surfaces",
            "organiserUrl",
            "categories",
            "mode",
            "trackingEventId",
            "clerkOfTheCourse",
            "stewards",
            "templateFilename",
            "country.countryId",
            "country.name",
            "country.iso2",
            "country.iso3",
            "seasonId",
            "order",
        ]
        seasonRounds_df = merge(
            _seasonRounds_df, seasonRounds_df[["eventId", "seasonId", "order"]]
        )[_cols]
        # TO DO - improve cleaning
        seasonRounds_df["name"] = seasonRounds_df["name"].str.strip()

        eligibilities_df = json_data["eligibilities"]

        if updateDB:
            self.dbfy(championships_df, "championship_lookup", pk="championshipId")
            self.dbfy(seasonRounds_df, "season_rounds", pk="eventId")

        return championships_df, seasonRounds_df, eligibilities_df

    def getSeasonRounds(self, updateDB=False):
        if updateDB:
            self._getSeasonDetail(updateDB)

        q = "SELECT * FROM season_rounds;"
        seasonRounds_df = read_sql(q, self.conn)

        return seasonRounds_df

    def _getChampionshipName(self):
        championship = self.championship
        categories = ["Drivers", "Co-Drivers"]
        if self.championship.lower() in ["wrc", "wrc2"]:
            categories.append("Teams")
        if self.championship.lower() in ["wrc"]:
            categories.append("Manufacturers")
        category = self.category
        # Category: Drivers, Co-Drivers, Manufacturers, Teams
        if category not in categories:
            return None

        _championship = "FIA World Rally Championship for Drivers"
        if championship.lower() == "wrc":
            _championship = f"FIA World Rally Championship for {category}"
        elif championship.lower() == "wrc2":
            _championship = f"FIA WRC2 Championship for {category}"
        elif championship.lower() == "wrc3":
            _championship = f"FIA WRC3 Championship for {category}"
        elif championship.lower() == "jwrc":
            _championship = f"FIA Junior WRC Championship for {category}"
        elif championship.lower() == "challenger":
            _championship = f"FIA WRC2 Challenger Championship for {category}"
        elif championship.lower() == "masters":
            _championship = f"FIA WRC Masters Cup for {category}"
        return _championship

    def _getChampionshipOverallResults(self, updateDB=False):
        if not self.championshipId or not self.seasonId:
            return DataFrame(), DataFrame()

        stub = f"championship-overall-results.json?championshipId={self.championshipId}&seasonId={self.seasonId}"
        json_data = self._WRC_RedBull_json(stub)
        if "entryResults" not in json_data:
            return DataFrame(), DataFrame()

        _championshipEntryResultsOverall = []
        _championshipEntryResultsByRound = []

        for championshipEntry in json_data["entryResults"]:
            _championshipEntry = {}
            for k in ["championshipEntryId", "overallPosition", "overallPoints"]:
                _championshipEntry[k] = championshipEntry[k]
            _championshipEntryResultsOverall.append(_championshipEntry)
            _championshipEntryResultsByRound.extend(championshipEntry["roundResults"])

        championshipEntryResultsOverall_df = DataFrame(_championshipEntryResultsOverall)
        championshipEntryResultsByRound_df = DataFrame(_championshipEntryResultsByRound)

        if updateDB:
            self.dbfy(
                championshipEntryResultsOverall_df,
                "championship_overall",
                if_exists="replace",
            )
            self.dbfy(
                championshipEntryResultsByRound_df,
                "championship_results",
                pk=("championshipEntryId", "eventId"),
            )

        return championshipEntryResultsOverall_df, championshipEntryResultsByRound_df

    def getChampionshipOverall(self, updateDB=False):
        if updateDB:
            self._getChampionshipOverallResults(updateDB)

        q = "SELECT * FROM championship_overall;"
        championshipEntryResultsOverall_df = read_sql(q, self.conn)

        return championshipEntryResultsOverall_df

    def getChampionshipByRound(self, updateDB=False):
        if updateDB:
            self._getChampionshipOverallResults(updateDB)

        q = "SELECT * FROM championship_results;"
        championshipEntryResultsByRound_df = read_sql(q, self.conn)

        return championshipEntryResultsByRound_df

    def _getChampionshipDetail(self, updateDB=False):
        # If championshipId is None, try to find a championship Id
        if not self.championshipId:

            # Use WRC drivers as the default
            _championship = self._getChampionshipName()

            seasonId, championships_df, _, _ = self._getSeasonDetail()
            championshipId = championships_df[
                championships_df["name"] == _championship
            ].iloc[0]["championshipId"]

        if self.seasonId is None:
            seasonId = self._getSeasons(self.championship, self.year).iloc[0][
                "seasonId"
            ]

        stub = f"championship-detail.json?championshipId={self.championshipId}&seasonId={self.seasonId}"
        json_data = self._WRC_RedBull_json(stub)
        if "championshipRounds" not in json_data:
            return DataFrame(), DataFrame(), DataFrame()

        rounds = [r["event"] for r in json_data["championshipRounds"]]
        championshipRounds_df = DataFrame(rounds)
        championshipCountries_df = json_normalize(
            championshipRounds_df["country"]
        ).drop_duplicates()
        championshipRounds_df.drop(columns=["country"], inplace=True)

        renamers = {
            k.replace("Description", ""): json_data[k]
            for k in json_data.keys()
            if k.startswith("field") and k.endswith("Description")
        }

        _e = json_data["championshipEntries"]
        championshipEntries_df = DataFrame(_e)
        renamers["tyreManufacturer"] = "tyreManufacturerId"
        championshipEntries_df.rename(columns=renamers, inplace=True)

        if updateDB:
            self.dbfy(
                championshipRounds_df,
                "championship_rounds_detail",
                pk="eventId",
            )
            self.dbfy(
                championshipCountries_df,
                "championship_countries",
                pk="countryId",
            )
            self.dbfy(
                championshipEntries_df,
                "championship_entries",
                pk="championshipEntryId",
            )

        return championshipRounds_df, championshipEntries_df, championshipCountries_df

    def getChampionShipRounds(self, updateDB=False):
        if updateDB:
            self._getChampionshipDetail()

        q = "SELECT * FROM championship_rounds_detail;"
        championshipRounds_df = read_sql(q, self.conn)

        return championshipRounds_df

    def getChampionshipEntries(self, updateDB=False):
        if updateDB:
            self._getChampionshipDetail()

        q = "SELECT * FROM championship_entries;"
        championshipEntries_df = read_sql(q, self.conn)

        return championshipEntries_df

    def getChampionshipCountries(self, updateDB=False):
        if updateDB:
            self._getChampionshipDetail()

        q = "SELECT * FROM championship_countries;"
        championships_df = read_sql(q, self.conn)

        return championships_df

    def getChampionships(self, updateDB=False):
        if updateDB:
            self._getSeasonDetail(updateDB)

        q = "SELECT * FROM championship_lookup;"
        championshipCountries_df = read_sql(q, self.conn)

        return championshipCountries_df

    def _getEventGroups(self, updateDB=False):
        stub = f"events/{self.eventId}/groups.json"
        json_data = self._WRC_RedBull_json(stub)

        eventGroups_df = DataFrame(json_data)
        if eventGroups_df.empty:
            return DataFrame()

        if updateDB:
            self.dbfy(eventGroups_df, "groups", pk="groupId")
        return eventGroups_df

    def _getEventItineraries(self, updateDB=False):
        stub = f"events/{self.eventId}/itineraries/{self.itineraryId}.json"
        json_data = self._WRC_RedBull_json(stub)
        if "itineraryLegs" not in json_data:
            return DataFrame(), DataFrame(), DataFrame(), DataFrame()

        itineraryLegs_df = DataFrame(json_data["itineraryLegs"])

        if "itinerarySections" not in itineraryLegs_df:
            return itineraryLegs_df, DataFrame(), DataFrame(), DataFrame()
        
        itinerarySections_df = itineraryLegs_df.explode("itinerarySections")

        itinerarySections2_df = json_normalize(
            itinerarySections_df["itinerarySections"]
        )
        itineraryControls_df = itinerarySections2_df.explode("controls").reset_index(
            drop=True
        )
        _itineraryControls_df = json_normalize(itineraryControls_df["controls"])
        itineraryControls_df = concat(
            [itineraryControls_df.drop("controls", axis=1), _itineraryControls_df],
            axis=1,
        )
        itineraryStages_df = itinerarySections2_df.explode("stages").reset_index(
            drop=True
        )
        itineraryStages_df.rename(columns={"name":"name_"}, inplace=True)
        _itineraryStages_df = json_normalize(itineraryStages_df["stages"])
        itineraryStages_df = concat(
            [itineraryStages_df.drop("stages", axis=1), _itineraryStages_df], axis=1
        )
        itineraryLegs_df.drop(columns=["itinerarySections"], inplace=True)
        itinerarySections2_df.drop(columns=["controls", "stages"], inplace=True)
        itineraryControls_df.drop(columns=["stages"], inplace=True)
        itineraryStages_df.drop(columns=["controls"], inplace=True)

        if updateDB:
            self.dbfy(itineraryLegs_df, "itinerary_legs", pk="itineraryLegId")
            self.dbfy(itineraryStages_df, "itinerary_stages", pk="stageId")
            self.dbfy(
                itinerarySections2_df, "itinerary_sections", pk="itinerarySectionId"
            )
            self.dbfy(itineraryControls_df, "itinerary_controls", pk="controlId")

        return (
            itineraryLegs_df,
            itinerarySections2_df,
            itineraryControls_df,
            itineraryStages_df,
        )

    def getItineraryLegs(self, updateDB=False):
        if updateDB:
            self._getEventItineraries(updateDB)

        q = "SELECT * FROM itinerary_legs;"
        itineraryLegs_df = read_sql(q, self.conn)

        return itineraryLegs_df

    def getItinerarySections(self, eventId=None, updateDB=False):
        if updateDB:
            self._getEventItineraries(updateDB)

        if eventId is None:
            q = "SELECT * FROM itinerary_stages;"
        else:
            q = f"SELECT * FROM itinerary_stages WHERE eventId={int(eventId)};"

        itinerarySections_df = read_sql(q, self.conn)

        return itinerarySections_df

    def getItineraryControls(self, updateDB=False):
        if updateDB:
            self._getEventItineraries(updateDB)

        q = "SELECT * FROM itinerary_sections;"
        itineraryControls_df = read_sql(q, self.conn)

        return itineraryControls_df

    def getItineraryStages(self, updateDB=False):
        if updateDB:
            self._getEventItineraries(updateDB)

        q = "SELECT * FROM itinerary_controls;"
        itineraryStages_df = read_sql(q, self.conn)

        return itineraryStages_df

    def _getEntries(self, updateDB=False):
        stub = f"events/{self.eventId}/rallies/{self.rallyId}/entries.json"
        json_data = self._WRC_RedBull_json(stub)
        entries_df = DataFrame(json_data)
        if entries_df.empty:
            return (
                DataFrame(),
                DataFrame(),
                DataFrame(),
                DataFrame(),
                DataFrame(),
                DataFrame(),
                DataFrame(),
            )

        entries_df["rallyId"] = self.rallyId
        drivers_df = json_normalize(entries_df["driver"])
        codrivers_df = json_normalize(entries_df["codriver"])
        manufacturers_df = json_normalize(entries_df["manufacturer"]).drop_duplicates()
        entrants_df = json_normalize(entries_df["entrant"]).drop_duplicates()
        entryGroups_df = json_normalize(entries_df["group"]).drop_duplicates()
        eventClasses_df = json_normalize(
            entries_df.explode("eventClasses")["eventClasses"]
        ).drop_duplicates()

        entries_df.drop(
            columns=[
                "driver",
                "codriver",
                "manufacturer",
                "entrant",
                "group",
                "eventClasses",
                "tags",
            ],
            inplace=True,
        )

        if updateDB:
            self.dbfy(entries_df, "entries", pk="entryId")
            self.dbfy(drivers_df, "entries_drivers", pk="personId")
            self.dbfy(codrivers_df, "entries_codrivers", pk="personId")
            self.dbfy(entryGroups_df, "groups", pk="groupId")
            self.dbfy(manufacturers_df, "manufacturers", pk="manufacturerId")
            self.dbfy(entrants_df, "entrants", pk="entrantId")

        return (
            entries_df,
            drivers_df,
            codrivers_df,
            manufacturers_df,
            entrants_df,
            entryGroups_df,
            eventClasses_df,
        )

    def getEntries(self, on_event=True, updateDB=False):
        if updateDB:
            self._getEntries(updateDB)
        _on_event = (
            f"WHERE eventId={self.eventId} AND rallyId={self.rallyId}"
            if on_event and self.eventId and self.rallyId
            else ""
        )
        q = f"SELECT * FROM entries {_on_event};"
        entries_df = read_sql(q, self.conn)

        return entries_df

    def getDrivers(self, on_event=True, by_championship=False, updateDB=False):
        if updateDB:
            self._getEntries(updateDB)
        _on_event = (
            f"INNER JOIN entries AS e ON d.personId=e.driverId WHERE e.eventId={self.eventId} AND e.rallyId={self.rallyId}"
            if on_event and self.eventId and self.rallyId
            else ""
        )

        # I'm not sure this is right? Is the championshipId persistent over years?
        # For WRC, use priority (P1) and / or eligibility includes M? Or groupId for Rally1?
        # We want people registered in the championship when they are competing in an event.
        # We can perhaps get IDs by using the championshipId filtered results.json?
        _by_championship = ""
        if by_championship and self.championshipId:
            _by_championship = f"AND e.driverId IN (SELECT personId FROM championship_entries WHERE championshipId={self.championshipId})"
            if not on_event:
                # If not joining with entries, we need to join with entries first
                _on_event = (
                    f"INNER JOIN entries AS e ON d.personId=e.driverId WHERE 1=1"
                )

        where_clause = ""
        if _on_event:
            where_clause = _on_event + " " + _by_championship

        q = f"SELECT d.* FROM entries_drivers AS d {where_clause};"
        drivers_df = read_sql(q, self.conn)

        return drivers_df

    def getCoDrivers(self, on_event=True, updateDB=False):
        if updateDB:
            self._getEntries(updateDB)
        _on_event = (
            f"INNER JOIN entries AS e ON c.personId=e.codriverId WHERE e.eventId={self.eventId} AND e.rallyId={self.rallyId}"
            if on_event and self.eventId and self.rallyId
            else ""
        )

        q = f"SELECT c.* FROM entries_codrivers AS c {_on_event};"
        codrivers_df = read_sql(q, self.conn)

        return codrivers_df

    def getManufacturers(self, on_event=True, updateDB=False):
        if updateDB:
            self._getEntries(updateDB)
        _on_event = (
            f"INNER JOIN entries AS e ON m.manufacturerId=e.manufacturerId WHERE e.eventId={self.eventId} AND e.rallyId={self.rallyId}"
            if on_event and self.eventId and self.rallyId
            else ""
        )

        q = f"SELECT DISTINCT m.* FROM manufacturers AS m {_on_event};"
        manufacturers_df = read_sql(q, self.conn)

        return manufacturers_df

    def getEntrants(self, on_event=True, updateDB=False):
        if updateDB:
            self._getEntries(updateDB)
        _on_event = (
            f"INNER JOIN entries AS e ON n.entrantId=e.entrantId WHERE e.eventId={self.eventId} AND e.rallyId={self.rallyId}"
            if on_event and self.eventId and self.rallyId
            else ""
        )

        q = f"SELECT n.entrantId, n.name FROM entrants AS n {_on_event};"
        entrants_df = read_sql(q, self.conn)

        return entrants_df

    def getGroups(self, on_event=True, updateDB=False):
        if updateDB:
            self._getEntries(updateDB)
        _on_event = f"" if on_event else ""

        q = f"SELECT * FROM groups;"
        entryGroups_df = read_sql(q, self.conn)

        return entryGroups_df

    def _getEventShakeDownTimes(self, updateDB=False):
        if not self.eventId:
            return
        stub = f"events/{self.eventId}/shakedowntimes.json?shakedownNumber=1"
        json_data = self._WRC_RedBull_json(stub)
        shakedownTimes_df = DataFrame(json_data)

        if updateDB:
            self.dbfy(shakedownTimes_df, "shakedown_times", pk="shakedownTimeId")

        return shakedownTimes_df

    def _getStages(self, updateDB=False):
        stub = f"events/{self.eventId}/stages.json"
        json_data = self._WRC_RedBull_json(stub)
        stages_df = DataFrame(json_data)

        if stages_df.empty:
            return (
                DataFrame(),
                DataFrame(),
                DataFrame()
            )

        stage_split_points_df = (
            stages_df[["splitPoints"]].explode("splitPoints").reset_index(drop=True)
        )
        stage_controls_df = json_normalize(
            stages_df[["controls"]]
            .explode("controls")
            .reset_index(drop=True)["controls"]
        )
        stage_split_points_df = json_normalize(
            stages_df[["splitPoints"]]
            .explode("splitPoints")
            .reset_index(drop=True)["splitPoints"]
        )
        stages_df.drop(columns=["splitPoints", "controls"], inplace=True)

        if updateDB:
            self.dbfy(stages_df, "stage_info", pk="stageId")
            self.dbfy(stage_split_points_df, "split_points", pk="splitPointId")
            self.dbfy(stage_controls_df, "stage_controls", pk="controlId")

        return stages_df, stage_split_points_df, stage_controls_df

    def getStageInfo(self, updateDB=False):
        if updateDB:
            self._getStages(updateDB)

        q = "SELECT * FROM stage_info;"
        stages_df = read_sql(q, self.conn)

        return stages_df

    def getStageSplitPoints(self, updateDB=False):
        if updateDB:
            self._getStages(updateDB)

        q = "SELECT * FROM split_points;"
        stage_split_points_df = read_sql(q, self.conn)

        return stage_split_points_df

    def getStageControls(self, updateDB=False, raw=True):
        if updateDB:
            self._getStages(updateDB)

        if raw:
            q = "SELECT * FROM stage_controls;"
        # TO DO a query that gives a "pretty" result

        stage_controls_df = read_sql(q, self.conn)

        return stage_controls_df

    def _getEvent(self, updateDB=False):
        """This also sets self.rallyId and self.itineraryId"""
        stub = f"events/{self.eventId}.json"
        json_data = self._WRC_RedBull_json(stub)
        if "rallies" not in json_data:
            return DataFrame(), DataFrame(), DataFrame()

        eventRallies_df = DataFrame(json_data["rallies"])
        eventRallies_df.drop(columns=["eventClasses"], inplace=True)
        eventClasses_df = DataFrame(json_data["eventClasses"])
        _data = {
            k: json_data[k] for k in json_data if k not in ["rallies", "eventClasses"]
        }
        eventData_df = json_normalize(_data)
        _event_df = eventRallies_df[eventRallies_df["isMain"] == True].iloc[0]

        self.rallyId = int(_event_df["rallyId"])
        self.itineraryId = int(_event_df["itineraryId"])

        if updateDB:
            self.dbfy(eventClasses_df, "event_classes", pk=("eventId", "eventClassId"))
            self.dbfy(eventRallies_df, "event_rallies", pk="itineraryId")
            self.dbfy(eventData_df, "event_date", pk="eventId")

        return eventData_df, eventRallies_df, eventClasses_df

    def _setEvent(self, r, updateDB=True):
        if not r.empty:
            self.eventId = int(r.iloc[0]["eventId"])
            self.eventName = r.iloc[0]["name"]
            # Get the event info
            self._getEvent(updateDB=updateDB)
            self._getStages(updateDB=updateDB)
            self._getEntries(updateDB=updateDB)
            self._getEventItineraries(updateDB=updateDB)

    def setEventById(self, eventId=None, updateDB=True):
        if not eventId:
            return
        # Do this as a fuzzy search?
        q = f'SELECT eventId, name FROM season_rounds WHERE eventId="{eventId}";'
        r = read_sql(q, self.conn)
        # HACK TO DO this is a fudge
        self._setEvent(r, updateDB)

    def setEventByName(self, name=None, updateDB=True):
        if not name:
            return
        # Do this as a fuzzy search?
        q = f'SELECT eventId, name FROM season_rounds WHERE name="{name}";'
        r = read_sql(q, self.conn)
        # HACK TO DO this is a fudge
        self._setEvent(r, updateDB)

    def setChampionship(self):
        championships_df = self.getChampionships()
        self.championshipName = self._getChampionshipName()
        # TO DO - defend against brokenness here
        self.championshipId = int(
            championships_df[championships_df["name"] == self.championshipName].iloc[0][
                "championshipId"
            ]
        )
        if self.championshipId:
            self._getChampionshipOverallResults(updateDB=True)
            self._getChampionshipDetail(updateDB=True)

    def _setStage(self, r, updateDB=False):
        # HACK TO DO this is a fudge
        if not r.empty:
            r = r.iloc[0]
            self.stageId = int(r["stageId"])
            self.stageName = r["name"]
            self.stageCode = r["code"]
            # Get the event info
            self._getStages(updateDB=updateDB)

    def setStageById(self, stageId=None, updateDB=True):
        # TO DO - we need to clobber the update if the table is complete
        self._getStages(updateDB=updateDB)
        if not stageId:
            return
        # Do this as a fuzzy search?
        q = f'SELECT stageId, name, code FROM stage_info WHERE stageId="{int(stageId)}";'
        r = read_sql(q, self.conn)
        self._setStage(r, updateDB=updateDB)

    def setStageByCode(self, stageCode=None, updateDB=True):
        # TO DO - we need to clobber the update if the table is complete
        self._getStages(updateDB=updateDB)
        if not stageCode:
            return
        # Do this as a fuzzy search?
        q = f'SELECT stageId, name, code FROM stage_info WHERE code="{stageCode}";'
        r = read_sql(q, self.conn)
        self._setStage(r, updateDB=updateDB)

    # TO DO a way of setting self.controlId; also need strategies for invalidating Ids
    def _getControlTimes(self, updateDB=False):
        stub = f"events/{self.eventId}/controls/{self.controlId}/controlTimes.json"
        json_data = self._WRC_RedBull_json(stub)
        controlTimes_df = DataFrame(json_data)
        if controlTimes_df.empty:
            return DataFrame()

        if updateDB:
            self.dbfy(controlTimes_df, "controltimes", pk="controlTimeId")

        return controlTimes_df

    def _getStageTimes(self, updateDB=False):
        stub = f"events/{self.eventId}/stages/{self.stageId}/stagetimes.json?rallyId={self.rallyId}"
        json_data = self._WRC_RedBull_json(stub)
        stagetimes_df = DataFrame(json_data)
        if stagetimes_df.empty:
            return DataFrame()

        stagetimes_df["eventId"] = self.eventId
        stagetimes_df["rallyId"] = self.rallyId

        if updateDB:
            self.dbfy(stagetimes_df, "stage_times", pk="stageTimeId")

        return stagetimes_df

    def getStageTimes(self, updateDB=False):
        sql = f"""SELECT * FROM stage_times WHERE eventId={self.eventId} AND stageId={self.stageId} AND rallyId={self.rallyId};"""
        r = read_sql(sql, self.conn)
        # Hack to poll API if empty
        if r.empty:
            self._getStageTimes(updateDB=True)
            r = read_sql(sql, self.conn)
        return r

    def _getSplitTimes(self, updateDB=False):
        stub = f"events/{self.eventId}/stages/{self.stageId}/splittimes.json?rallyId={self.rallyId}"
        json_data = self._WRC_RedBull_json(stub)
        splitTimes_df = DataFrame(json_data)
        if splitTimes_df.empty:
            return DataFrame()

        splitTimes_df["eventId"] = self.eventId
        splitTimes_df["stageId"] = self.stageId
        splitTimes_df["rallyId"] = self.rallyId

        if updateDB:
            self.dbfy(splitTimes_df, "split_times", pk="splitPointTimeId")

        return splitTimes_df

    def getSplitTimes(self, updateDB=False):
        sql = f"""SELECT * FROM split_times WHERE eventId={self.eventId} AND stageId={self.stageId} AND rallyId={self.rallyId};"""
        r = read_sql(sql, self.conn)
        # Hack to poll API if empty
        if r.empty:
            self._getSplitTimes(updateDB=True)
            r = read_sql(sql, self.conn)
        return r

    def _getStageResults(self, stageId=None, by_championship=False, updateDB=False):
        """This is the overall result at the end of the stage. TO DO CHECK"""
        # The rallyId is optional? Or does it filter somehow?
        stageId = stageId if stageId else self.stageId
        stub = f"events/{self.eventId}/stages/{stageId}/results.json?rallyId={self.rallyId}"
        if by_championship and self.championshipId:
            stub = stub + f"&championshipId={self.championshipId}"
        json_data = self._WRC_RedBull_json(stub)
        stageResults_df = DataFrame(json_data)
        if stageResults_df.empty:
            return DataFrame()

        stageResults_df["stageId"] = stageId
        stageResults_df["eventId"] = self.eventId
        stageResults_df["rallyId"] = self.rallyId

        if updateDB:
            self.dbfy(stageResults_df, "stage_overall", pk=("stageId", "entryId"))

        return stageResults_df

    def getStageResults(self, stageId=None, updateDB=False):
        stageId = stageId if stageId else self.stageId
        if self.eventId and stageId and self.rallyId:
            sql = f"""SELECT * FROM stage_overall WHERE eventId={self.eventId} AND stageId={stageId} AND rallyId={self.rallyId};"""
            r = read_sql(sql, self.conn)
            # Hack to poll API if empty
            if r.empty:
                self._getStageResults(stageId=stageId, updateDB=True)
                r = read_sql(sql, self.conn)
        else:
            print(f"No getStageResults? {self.eventId} {self.stageId} {self.rallyId}")
            r = DataFrame()
        return r

    def _getStageWinners(self, updateDB=False):
        stub = f"events/{self.eventId}/rallies/{self.rallyId}/stagewinners.json"
        json_data = self._WRC_RedBull_json(stub)
        stagewinners_df = DataFrame(json_data)
        if stagewinners_df.empty:
            return DataFrame()

        stagewinners_df["eventId"] = self.eventId
        stagewinners_df["rallyId"] = self.rallyId
        if updateDB:
            self.dbfy(stagewinners_df, "stagewinners", pk="stageId")

        return stagewinners_df

    def _getRetirements(self, updateDB=False):
        if not self.eventId:
            return
        stub = f"events/{self.eventId}/retirements.json"
        json_data = self._WRC_RedBull_json(stub)
        retirements_df = DataFrame(json_data)
        if retirements_df.empty:
            return DataFrame()

        retirements_df["eventId"] = self.eventId
        if updateDB:
            self.dbfy(retirements_df, "retirements", pk="retirementId")
        return retirements_df

    def _getPenalties(self, updateDB=False):
        if not self.eventId:
            return
        stub = f"events/{self.eventId}/penalties.json"
        json_data = self._WRC_RedBull_json(stub)
        penalties_df = DataFrame(json_data)
        if penalties_df.empty:
            return DataFrame()

        penalties_df["eventId"] = self.eventId
        if updateDB:
            self.dbfy(penalties_df, "penalties", pk="penaltyId")
        return penalties_df

    def getStageWinners(self, on_event=True, raw=True):
        if not self.eventId or not self.rallyId:
            return DataFrame()

        _on_event = f"""w.eventId={self.eventId} AND w.rallyId={self.rallyId}""" if on_event else ""

        if raw:
            sql = f"""SELECT * FROM stagewinners AS w WHERE {_on_event};"""
        else:
            _entry_join = f"INNER JOIN entries AS e ON w.entryId=e.entryId"
            _driver_join = f"INNER JOIN entries_drivers AS d ON e.driverId=d.personId"
            _on_event = f"WHERE {_on_event}" if _on_event else _on_event
            sql = f"""SELECT d.abbvName, w.* FROM stagewinners AS w {_entry_join} {_driver_join} {_on_event};"""

        r = read_sql(sql, self.conn)
        # Hack to poll API if empty
        if r.empty:
            self._getStageWinners(updateDB=True)
            r = read_sql(sql, self.conn)
        return r

    # TO DO - offer more search limits
    def getRetirements(self, on_event=True, raw=True, updateDB=False):
        if updateDB:
            self._getRetirements(updateDB=updateDB)

        _on_event = (
            f"r.eventId={self.eventId}"
            if on_event and self.eventId
            else ""
        )

        if raw:
            _on_event = f"WHERE {_on_event}" if _on_event else _on_event
            sql = f"""SELECT * FROM retirements r {_on_event};"""
        else:
            # Need to merge entryId and controlId
            _entry_join = f"INNER JOIN entries AS e ON r.entryId=e.entryId"
            _driver_join = f"INNER JOIN entries_drivers AS d ON e.driverId=d.personId"
            _control_join = f"INNER JOIN stage_controls AS c ON r.controlId=c.controlId"
            _on_event = f"WHERE {_on_event}" if _on_event else _on_event
            sql = f"""SELECT d.abbvName, c.code, r.reason, r.retirementDateTime, r.status FROM retirements r {_entry_join} {_driver_join} {_control_join} {_on_event};"""

        r = read_sql(sql, self.conn)
        # Hack to poll API if empty
        if r.empty:
            self._getRetirements(updateDB=True)
            r = read_sql(sql, self.conn)
        return r

    # TO DO - offer more search limits
    def getPenalties(self, on_event=True, raw=True, updateDB=False):
        if updateDB:
            self._getPenalties(updateDB=updateDB)

        _on_event = (
            f"p.eventId={self.eventId}"
            if on_event and self.eventId
            else ""
        )

        if raw:
            _on_event = f"WHERE {_on_event}" if _on_event else _on_event
            sql = f"""SELECT * FROM penalties AS p {_on_event};"""
        else:
            # Need to merge entryId and controlId
            _entry_join = f"INNER JOIN entries AS e ON p.entryId=e.entryId"
            _driver_join = f"INNER JOIN entries_drivers AS d ON e.driverId=d.personId"
            _control_join = f"INNER JOIN stage_controls AS c ON p.controlId=c.controlId"
            _on_event = f"WHERE {_on_event}" if _on_event else _on_event
            sql = f"""SELECT d.abbvName, c.code, p.penaltyDuration, p.Reason FROM penalties AS p {_entry_join} {_driver_join} {_control_join} {_on_event};"""
        r = read_sql(sql, self.conn)
        # Hack to poll API if empty
        if r.empty:
            self._getPenalties(updateDB=True)
            r = read_sql(sql, self.conn)
        return r

    def query(self, sql):
        r = read_sql(sql, self.conn)
        return r

In [277]:
wrc = WRCLiveTimingAPIClientV2(newDB=True)

INFO:__main__:Initialising the database...
INFO:__main__:Creating new db tables...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/seasons.json

INFO:__main__:Updating seasons...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/season-detail.json?seasonId=34

INFO:__main__:Updating championship_lookup...
INFO:__main__:Updating season_rounds...

In [278]:
wrc.getSeasons()

    seasonId                         name  year
0          1     World Rally Championship  2018
1          4     World Rally Championship  2019
2          6     World Rally Championship  2020
3          8     World Rally Championship  2021
4         11     World Rally Championship  2022
5         12  European Rally Championship  2022
6         20     World Rally Championship  2023
7         21  European Rally Championship  2023
8         28     World Rally Championship  2024
9         29  European Rally Championship  2024
10        34     World Rally Championship  2025
11        35  European Rally Championship  2025

In [279]:
a, b, c = wrc._getSeasonDetail()
b

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/season-detail.json?seasonId=34

,eventId,countryId,name,slug,location,startDate,finishDate,timeZoneId,timeZoneName,timeZoneOffset,...,trackingEventId,clerkOfTheCourse,stewards,templateFilename,country.countryId,country.name,country.iso2,country.iso3,seasonId,order
0,534,147,Rallye Monte-Carlo,2025-wrc-monte,"Gap, France",2025-01-23,2025-01-26,Europe/Monaco,(UTC+01:00) Central European Time (Monaco),60,...,4208,Romain PUGLIESE,Tanja GEILHAUSEN Edoardo DELLEANI ...,results-report-templates/e352213e-0a5d-443f-b9...,147,Monaco,MC,MCO,34,1
1,535,215,Rally Sweden,2025-wrc-sweden,"Ume, Vsterbotten County",2025-02-13,2025-02-16,Europe/Stockholm,(UTC+01:00) Central European Time (Stockholm),60,...,4209,Stig Rune Kjernsli,Mazen Al-Hilli Mathieu Remmerie ...,results-report-templates/99d0742c-4b8a-4bc9-ab...,215,Sweden,SE,SWE,34,2
2,536,116,Safari Rally Kenya,2025-wrc-kenya,Nairobi,2025-03-20,2025-03-23,Africa/Nairobi,(UTC+03:00) East Africa Time (Nairobi),180,...,4210,George Mwangi,Tanja Geilhausen Alice Scutell ...,results-report-templates/fde0030f-74a1-48a6-ba...,116,Kenya,KE,KEN,34,3
3,538,209,Rally Islas Canarias,2025-wrc-canarias,"Las Palmas, Canarias",2025-04-24,2025-04-27,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4211,None,None,None,209,Spain,ES,ESP,34,4
4,540,178,Vodafone Rally de Portugal,2025-wrc-portugal,"Matosinhos, Porto",2025-05-15,2025-05-18,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4212,None,None,None,178,Portugal,PT,PRT,34,5
5,542,110,Rally Italia Sardegna,2025-wrc-italy,"Alghero, Sardinia",2025-06-05,2025-06-08,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4213,None,None,None,110,Italy,IT,ITA,34,6
6,544,86,EKO Acropolis Rally Greece,2025-wrc-greece,"Lamia, Central Greece",2025-06-26,2025-06-29,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4214,None,None,None,86,Greece,GR,GRC,34,7
7,546,70,Delfi Rally Estonia,2025-wrc-estonia,Tartu,2025-07-17,2025-07-20,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4215,None,None,None,70,Estonia,EE,EST,34,8
8,547,75,Secto Rally Finland,2025-wrc-finland,Jyvskyl,2025-07-31,2025-08-03,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4216,None,None,None,75,Finland,FI,FIN,34,9
9,549,173,Rally del Paraguay,2025-wrc-paraguay,Itapa,2025-08-28,2025-08-31,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4217,None,None,None,173,Paraguay,PY,PRY,34,10
10,551,45,Rally Chile Bio Bio,2025-wrc-chile,"Concepcin, Biobo",2025-09-11,2025-09-14,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4218,None,None,None,45,Chile,CL,CHL,34,11
11,553,294,Central European Rally,2025-wrc-cer,"Bad Griesbach, Germany",2025-10-16,2025-10-19,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4219,None,None,None,294,Europe,EU,EUR,34,12
12,554,112,FORUM8 Rally Japan,2025-wrc-japan,"Toyota, Aichi Prefecture",2025-11-06,2025-11-09,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4220,None,None,None,112,Japan,JP,JPN,34,13
13,555,195,Rally Saudi Arabia,2025-wrc-saudi-arabia,Bisha,2025-11-27,2025-11-30,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,...,4221,None,None,None,195,Saudi Arabia,SA,SAU,34,14

In [280]:
# From the seasons we can search on year and name
# Names: "World Rally Championship", "European Rally Championship"
# Return: seasonId (e.g World Rally Championship 2025: seasonId=34)
#
wrc.getSeasonRounds()

,categories,clerkOfTheCourse,country.countryId,country.iso2,country.iso3,country.name,countryId,eventId,finishDate,location,...,startDate,stewards,surfaces,templateFilename,timeZoneId,timeZoneName,timeZoneOffset,trackingEventId,order,seasonId
0,None,Romain PUGLIESE,147,MC,MCO,Monaco,147,534,2025-01-26,"Gap, France",...,2025-01-23,Tanja GEILHAUSEN Edoardo DELLEANI ...,Mixed,results-report-templates/e352213e-0a5d-443f-b9...,Europe/Monaco,(UTC+01:00) Central European Time (Monaco),60,4208,1,34
1,None,Stig Rune Kjernsli,215,SE,SWE,Sweden,215,535,2025-02-16,"Ume, Vsterbotten County",...,2025-02-13,Mazen Al-Hilli Mathieu Remmerie ...,Snow,results-report-templates/99d0742c-4b8a-4bc9-ab...,Europe/Stockholm,(UTC+01:00) Central European Time (Stockholm),60,4209,2,34
2,None,George Mwangi,116,KE,KEN,Kenya,116,536,2025-03-23,Nairobi,...,2025-03-20,Tanja Geilhausen Alice Scutell ...,Gravel,results-report-templates/fde0030f-74a1-48a6-ba...,Africa/Nairobi,(UTC+03:00) East Africa Time (Nairobi),180,4210,3,34
3,None,None,209,ES,ESP,Spain,209,538,2025-04-27,"Las Palmas, Canarias",...,2025-04-24,None,Tarmac,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4211,4,34
4,None,None,178,PT,PRT,Portugal,178,540,2025-05-18,"Matosinhos, Porto",...,2025-05-15,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4212,5,34
5,None,None,110,IT,ITA,Italy,110,542,2025-06-08,"Alghero, Sardinia",...,2025-06-05,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4213,6,34
6,None,None,86,GR,GRC,Greece,86,544,2025-06-29,"Lamia, Central Greece",...,2025-06-26,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4214,7,34
7,None,None,70,EE,EST,Estonia,70,546,2025-07-20,Tartu,...,2025-07-17,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4215,8,34
8,None,None,75,FI,FIN,Finland,75,547,2025-08-03,Jyvskyl,...,2025-07-31,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4216,9,34
9,None,None,173,PY,PRY,Paraguay,173,549,2025-08-31,Itapa,...,2025-08-28,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4217,10,34
10,None,None,45,CL,CHL,Chile,45,551,2025-09-14,"Concepcin, Biobo",...,2025-09-11,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4218,11,34
11,None,None,294,EU,EUR,Europe,294,553,2025-10-19,"Bad Griesbach, Germany",...,2025-10-16,None,Tarmac,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4219,12,34
12,None,None,112,JP,JPN,Japan,112,554,2025-11-09,"Toyota, Aichi Prefecture",...,2025-11-06,None,Tarmac,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4220,13,34
13,None,None,195,SA,SAU,Saudi Arabia,195,555,2025-11-30,Bisha,...,2025-11-27,None,Gravel,None,AUS Eastern Standard Time,(UTC+10:00) Eastern Australia Time (Sydney) (...,660,4221,14,34

In [281]:
wrc.setEventByName("Rally Sweden")
wrc.eventId, wrc.eventName, wrc.year

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535.json

INFO:__main__:Updating event_classes...
INFO:__main__:Updating event_rallies...
INFO:__main__:Updating event_date...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages.json

INFO:__main__:Updating stage_info...
INFO:__main__:Updating split_points...
INFO:__main__:Updating stage_controls...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/rallies/583/entries.json

INFO:__main__:Updating entries...
INFO:__main__:Updating entries_drivers...
INFO:__main__:Updating entries_codrivers...
INFO:__main__:Updating groups...
INFO:__main__:Updating manufacturers...
INFO:__main__:Updating entrants...
INFO:__main__:Updating itinerary_legs...
INFO:__main__:Updating itinerary_stages...
INFO:__main__:Updating itinerary_sections...
INFO:__main__:Updating itinerary_controls...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/itineraries/1137.json
Hmmm... column name `name_` appears in data but not itinerary_stages table def?

(535, 'Rally Sweden', 2025)

In [282]:
wrc.getItineraryLegs()

,itineraryId,itineraryLegId,legDate,name,order,startListId,status
0,1137,1506,2025-02-13,Thursday 13th February,1,1810,Completed
1,1137,1507,2025-02-14,Friday 14th February,2,1811,Completed
2,1137,1508,2025-02-15,Saturday 15th February,3,1813,Completed
3,1137,1509,2025-02-16,Sunday 16th February,4,1815,Completed

In [283]:
wrc.getItinerarySections()

,itinerarySectionId,itineraryLegId,order,name,stageId,eventId,number,distance,status,stageType,timingPrecision,locked,code
0,3635,1506,1,Ume Sprint 1,8330,535,1,5.16,Completed,SpecialStage,Tenth,1,SS1
1,3636,1507,2,Bygdsiljum 1,8331,535,2,28.27,Completed,SpecialStage,Tenth,1,SS2
2,3636,1507,2,Andersvattnet 1,8332,535,3,20.51,Completed,SpecialStage,Tenth,1,SS3
3,3636,1507,2,Bck 1,8333,535,4,10.80,Completed,SpecialStage,Tenth,1,SS4
4,3637,1507,3,Bygdsiljum 2,8334,535,5,28.27,Completed,SpecialStage,Tenth,1,SS5
5,3637,1507,3,Andersvattnet 2,8335,535,6,20.51,Completed,SpecialStage,Tenth,1,SS6
6,3637,1507,3,Bck 2,8336,535,7,10.80,Completed,SpecialStage,Tenth,1,SS7
7,3638,1507,4,Ume Sprint 2,8337,535,8,5.16,Completed,SuperSpecialStage,Tenth,1,SS8
8,3639,1508,5,Vnns 1,8338,535,9,15.65,Completed,SpecialStage,Tenth,1,SS9
9,3639,1508,5,Sarsjliden 1,8339,535,10,14.23,Completed,SpecialStage,Tenth,1,SS10
10,3639,1508,5,Kolksele 1,8340,535,11,16.06,Completed,SpecialStage,Tenth,1,SS11
11,3640,1508,6,Vnns 2,8341,535,12,15.65,Completed,SpecialStage,Tenth,1,SS12
12,3640,1508,6,Sarsjliden 2,8342,535,13,14.23,Completed,SpecialStage,Tenth,1,SS13
13,3640,1508,6,Kolksele 2,8343,535,14,16.06,Completed,SpecialStage,Tenth,1,SS14
14,3641,1508,7,Ume Sprint 3,8344,535,15,5.16,Completed,SuperSpecialStage,Tenth,1,SS15
15,3642,1509,8,Vstervik 1,8345,535,16,29.35,Completed,SpecialStage,Tenth,1,SS16
16,3643,1509,9,Vstervik 2,8346,535,17,29.35,Completed,SpecialStage,Tenth,1,SS17
17,3644,1509,10,Ume 2 (Power Stage),8347,535,18,8.62,Completed,PowerStage,Thousandth,1,SS18

In [284]:
wrc.getItineraryControls()

   itineraryLegId  itinerarySectionId        name  order
0            1506                3635   Section 1      1
1            1507                3636   Section 2      2
2            1507                3637   Section 3      3
3            1507                3638   Section 4      4
4            1508                3639   Section 5      5
5            1508                3640   Section 6      6
6            1508                3641   Section 7      7
7            1509                3642   Section 8      8
8            1509                3643   Section 9      9
9            1509                3644  Section 10     10

In [258]:
wrc.getItineraryStages()

,itinerarySectionId,itineraryLegId,order,name,controlId,eventId,stageId,type,code,location,...,targetDuration,targetDurationMs,firstCarDueDateTime,firstCarDueDateTimeLocal,status,controlPenalties,roundingPolicy,locked,bogey,bogeyMs
0,3635,1506,1,Section 1,35201,535,NaN,TimeControl,TC0,Podium Red Barn Arena,...,None,NaN,2025-02-13T17:40:00,2025-02-13T18:40:00+01:00,Completed,All,NoRounding,1,None,None
1,3635,1506,1,Section 1,35202,535,NaN,TimeControl,TC1A,Parc Ferm Ume IN,...,00:30:00,1800000.0,2025-02-13T18:35:00,2025-02-13T19:35:00+01:00,Completed,Late,NoRounding,1,None,None
2,3636,1507,2,Section 2,35203,535,NaN,TimeControl,TC1B,Parc Ferm Ume OUT,...,None,NaN,2025-02-14T07:05:00,2025-02-14T08:05:00+01:00,Completed,All,NoRounding,1,None,None
3,3636,1507,2,Section 2,35204,535,NaN,RegroupIn,TC4A,Regroup and Technical Zone IN,...,01:08:00,4080000.0,2025-02-14T11:35:00,2025-02-14T12:35:00+01:00,Completed,All,NoRounding,1,None,None
4,3637,1507,3,Section 3,35205,535,NaN,RegroupOut,TC4B,Regroup OUT / Service IN,...,00:20:00,1200000.0,2025-02-14T11:55:00,2025-02-14T12:55:00+01:00,Completed,None,NoRounding,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,3643,1509,9,Section 9,35277,535,8346.0,StageStart,SS17,Vstervik 2,...,00:03:00,180000.0,2025-02-16T08:57:00,2025-02-16T09:57:00+01:00,Completed,None,RoundToClosestMinute,1,None,None
77,3643,1509,9,Section 9,35278,535,8346.0,FlyingFinish,SF17,Vstervik 2,...,None,NaN,None,None,Completed,None,NoRounding,1,None,None
78,3644,1509,10,Section 10,35279,535,8347.0,TimeControl,TC18,Ume,...,00:17:00,1020000.0,2025-02-16T11:12:00,2025-02-16T12:12:00+01:00,Completed,All,NoRounding,1,None,None
79,3644,1509,10,Section 10,35280,535,8347.0,StageStart,SS18,Ume 2 (Power Stage),...,00:03:00,180000.0,2025-02-16T11:15:00,2025-02-16T12:15:00+01:00,Interrupted,None,RoundToClosestMinute,1,None,None
80,3644,1509,10,Section 10,35281,535,8347.0,FlyingFinish,SF18,Ume 2 (Power Stage),...,None,NaN,None,None,Interrupted,None,NoRounding,1,None,None

In [259]:
wrc.getEntries()

,entryId,eventId,rallyId,driverId,codriverId,manufacturerId,entrantId,groupId,identifier,vehicleModel,entryListOrder,pbf,drive,eligibility,priority,status,tyreManufacturer
0,54777,535,583,762,851,33,166,152,1,i20 N Rally1,1,None,None,M,P1,Entry,None
1,54778,535,583,534,553,84,91,152,33,GR Yaris Rally1,2,None,None,M,P1,Entry,None
2,54779,535,583,524,525,33,166,152,8,i20 N Rally1,3,None,None,M,P1,Entry,None
3,54780,535,583,4676,4945,33,166,152,16,i20 N Rally1,4,None,None,M,P1,Rejoined,None
4,54781,535,583,785,5507,84,91,152,18,GR Yaris Rally1,5,None,None,M,P1,Entry,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,54834,535,583,14234,17360,33,1148,98,70,i20 N,58,None,None,(DM),,Retired,None
58,54835,535,583,17361,17362,77,3801,98,71,Fabia Evo,59,None,None,,,Entry,None
59,54836,535,583,5525,17363,33,1380,98,72,NG i20,60,None,None,,,Entry,None
60,54837,535,583,610,611,77,1379,98,73,Fabia,61,None,None,,,Entry,None
61,54838,535,583,626,5545,69,572,100,74,Clio RS Line,62,None,None,,,Entry,None

In [260]:
wrc.getDrivers()

,personId,countryId,state,firstName,lastName,abbvName,fullName,code,licenseNumber,country.countryId,country.name,country.iso2,country.iso3
0,762,22,None,Thierry,NEUVILLE,T. NEUVILLE,Thierry NEUVILLE,NEU,None,22,Belgium,BE,BEL
1,534,235,None,Elfyn,EVANS,E. EVANS,Elfyn EVANS,EVA,None,235,United Kingdom,GB,GBR
2,524,70,None,Ott,TNAK,O. TNAK,Ott TNAK,TN,None,70,Estonia,EE,EST
3,4676,76,None,Adrien,FOURMAUX,A. FOURMAUX,Adrien FOURMAUX,FOU,None,76,France,FR,FRA
4,785,112,None,Takamoto,KATSUTA,T. KATSUTA,Takamoto KATSUTA,KAT,None,112,Japan,JP,JPN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,14234,174,None,Jorge,MARTNEZ,J. MARTNEZ,Jorge MARTNEZ,MAR,None,174,Peru,PE,PER
58,17361,76,,Didier,THORAL,D. THORAL,Didier THORAL,THO,None,76,France,FR,FRA
59,5525,76,None,Tony,RIBAUDO,T. RIBAUDO,Tony RIBAUDO,RIB,None,76,France,FR,FRA
60,610,76,None,Thibaut,POIZOT,T. POIZOT,Thibaut POIZOT,POI,None,76,France,FR,FRA
61,626,110,None,Carlo,COVI,C. COVI,Carlo COVI,COV,None,110,Italy,IT,ITA

In [261]:
wrc.getCoDrivers()

,personId,countryId,state,firstName,lastName,abbvName,fullName,code,licenseNumber,country.countryId,country.name,country.iso2,country.iso3
0,851,22,None,Martijn,WYDAEGHE,M. WYDAEGHE,Martijn WYDAEGHE,WYD,None,22,Belgium,BE,BEL
1,553,235,None,Scott,MARTIN,S. MARTIN,Scott MARTIN,MAR,None,235,United Kingdom,GB,GBR
2,525,70,None,Martin,JRVEOJA,M. JRVEOJA,Martin JRVEOJA,JAR,None,70,Estonia,EE,EST
3,4945,76,None,Alexandre,CORIA,A. CORIA,Alexandre CORIA,COR,None,76,France,FR,FRA
4,5507,107,None,Aaron,JOHNSTON,A. JOHNSTON,Aaron JOHNSTON,JOH,None,107,Ireland,IE,IRL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,17360,318,,Jos Alberto,AROS,J. AROS,Jos Alberto AROS,ARO,None,318,Chile IOC,CL,CHI
58,17362,76,,Olivier,BROUZE,O. BROUZE,Olivier BROUZE,BRO,None,76,France,FR,FRA
59,17363,76,,Cyrielle,DELORME,C. DELORME,Cyrielle DELORME,DEL,None,76,France,FR,FRA
60,611,76,None,Marion,GRAND,M. GRAND,Marion GRAND,GRA,None,76,France,FR,FRA
61,5545,110,None,Michela,LORIGIOLA,M. LORIGIOLA,Michela LORIGIOLA,LOR,None,110,Italy,IT,ITA

In [262]:
wrc.getManufacturers()

   manufacturerId     name logoFilename
0              33  Hyundai      hyundai
1              84   Toyota       toyota
2              26     Ford         ford
3              77    Skoda        skoda
4              13  Citroen      citroen
5              69  Renault      renault

In [263]:
wrc.getEntrants()

    entrantId                                  name
0         166  HYUNDAI SHELL MOBIS WORLD RALLY TEAM
1          91               TOYOTA GAZOO RACING WRT
2         166  HYUNDAI SHELL MOBIS WORLD RALLY TEAM
3         166  HYUNDAI SHELL MOBIS WORLD RALLY TEAM
4          91               TOYOTA GAZOO RACING WRT
..        ...                                   ...
57       1148                        JORGE MARTNEZ
58       3801                         DIDIER THORAL
59       1380                          TONY RIBAUDO
60       1379                        THIBAUT POIZOT
61        572                            CARLO COVI

[62 rows x 2 columns]

In [264]:
_, _, _, _, _, entryGroups_df, eventClasses_df = wrc._getEntries()
eventClasses_df

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/rallies/583/entries.json

    eventClassId  eventId name
0           2912      535  RC1
12          2913      535  RC2
33          2914      535  RC3
61          2915      535  RC5

In [265]:
eventData_df, eventRallies_df, eventClasses_df = wrc._getEvent()
eventData_df

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535.json

,eventId,countryId,eventProfileId,name,slug,location,startDate,finishDate,timeZoneId,timeZoneName,...,public,applyJumpStarts,displayFiaColumns,roundShakedownTimes,shakedownCount,displayLicenseNumber,country.countryId,country.name,country.iso2,country.iso3
0,535,215,2,Rally Sweden,2025-wrc-sweden,"Ume, Vsterbotten County",2025-02-13,2025-02-16,Europe/Stockholm,(UTC+01:00) Central European Time (Stockholm),...,False,True,True,True,1,False,215,Sweden,SE,SWE

In [266]:
wrc.getChampionships()

,championshipId,name,seasonId,type,fieldOneDescription,fieldTwoDescription,fieldThreeDescription,fieldFiveDescription,fieldFourDescription
0,287,FIA World Rally Championship for Drivers,34,Drivers,FirstName,LastName,CountryISO3,ManufacturerFull,Manufacturer
1,288,FIA World Rally Championship for Co-Drivers,34,Codrivers,FirstName,LastName,CountryISO3,TyreManufacturer,Manufacturer
2,289,FIA World Rally Championship for Manufacturers,34,Manufacturer,Name,Manufacturer,LogoFileName,,
3,290,FIA World Rally Championship for Teams,34,Manufacturer,Name,Manufacturer,LogoFileName,,
4,291,FIA WRC2 Championship for Drivers,34,DriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
5,292,FIA WRC2 Championship for Co-Drivers,34,CodriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
6,293,FIA WRC2 Challenger Championship for Drivers,34,DriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
7,294,FIA WRC2 Challenger Championship for Co-Drivers,34,CodriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
8,295,FIA WRC2 Championship for Teams,34,Manufacturer,Name,Manufacturer,LogoFileName,,
9,296,FIA WRC Masters Cup for Drivers,34,DriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
10,297,FIA WRC Masters Cup for Co-Drivers,34,CodriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
11,298,FIA WRC3 Championship for Drivers,34,DriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
12,299,FIA WRC3 Championship for Co-Drivers,34,CodriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
13,300,FIA Junior WRC Championship for Drivers,34,DriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer
14,301,FIA Junior WRC Championship for Co-Drivers,34,CodriversWithEntrant,FirstName,LastName,CountryISO3,Entrant,Manufacturer

In [267]:
wrc.setChampionship()
wrc.championshipId, wrc.championshipName

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/championship-overall-results.json?championshipId=287&seasonId=34

INFO:__main__:Updating championship_overall...
INFO:__main__:Updating championship_results...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/championship-detail.json?championshipId=287&seasonId=34

INFO:__main__:Updating championship_rounds_detail...
INFO:__main__:Updating championship_countries...
INFO:__main__:Updating championship_entries...

Hmmm... column name `ManufacturerFull` appears in data but not championship_entries table def?

(287, 'FIA World Rally Championship for Drivers')

In [268]:
wrc.getDrivers(by_championship=True)

,personId,countryId,state,firstName,lastName,abbvName,fullName,code,licenseNumber,country.countryId,country.name,country.iso2,country.iso3
0,762,22,None,Thierry,NEUVILLE,T. NEUVILLE,Thierry NEUVILLE,NEU,None,22,Belgium,BE,BEL
1,534,235,None,Elfyn,EVANS,E. EVANS,Elfyn EVANS,EVA,None,235,United Kingdom,GB,GBR
2,524,70,None,Ott,TNAK,O. TNAK,Ott TNAK,TN,None,70,Estonia,EE,EST
3,4676,76,None,Adrien,FOURMAUX,A. FOURMAUX,Adrien FOURMAUX,FOU,None,76,France,FR,FRA
4,785,112,None,Takamoto,KATSUTA,T. KATSUTA,Takamoto KATSUTA,KAT,None,112,Japan,JP,JPN
5,700,75,None,Kalle,ROVANPER,K. ROVANPER,Kalle ROVANPER,ROV,None,75,Finland,FI,FIN
6,5279,130,None,Grgoire,MUNSTER,G. MUNSTER,Grgoire MUNSTER,MUN,None,130,Luxembourg,LU,LUX
7,5280,75,None,Sami,PAJARI,S. PAJARI,Sami PAJARI,PAJ,None,75,Finland,FI,FIN
8,3169,301,None,Mrtin,SESKS,M. SESKS,Mrtin SESKS,SES,None,301,Latvia IOC,LV,LAT
9,5791,107,None,Joshua,MCERLEAN,J. MCERLEAN,Joshua MCERLEAN,MCE,None,107,Ireland,IE,IRL
10,774,110,None,Lorenzo,BERTELLI,L. BERTELLI,Lorenzo BERTELLI,BER,None,110,Italy,IT,ITA
11,3125,300,None,Jourdan,SERDERIDIS,J. SERDERIDIS,Jourdan SERDERIDIS,SER,None,300,Greece IOC,GR,GRE
12,5357,215,None,Oliver,SOLBERG,O. SOLBERG,Oliver SOLBERG,SOL,None,215,Sweden,SE,SWE
13,9102,75,None,Roope,KORHONEN,R. KORHONEN,Roope KORHONEN,KOR,None,75,Finland,FI,FIN
14,4776,305,None,Fabrizio,ZALDIVAR,F. ZALDIVAR,Fabrizio ZALDIVAR,ZAL,None,305,Paraguay IOC,PY,PAR

In [269]:
wrc.getChampionshipOverall()

    championshipEntryId  overallPosition  overallPoints
0                  6700                1             88
1                  6702                2             52
2                  6697                3             49
3                  6699                4             33
4                  6701                5             31
5                  6698                6             31
6                  6784                7             25
7                  6782                8             19
8                  6783                9             16
9                  6836               10              8
10                 6985               11              8
11                 6703               12              8
12                 6986               13              6
13                 6704               14              4
14                 6839               15              4
15                 6987               16              2
16                 6705               17              2
17                 6837               18              2
18                 6838               19              1
19                 6706               20              1
20                 6840               21              0

In [270]:
wrc.getChampionshipByRound()

,championshipEntryId,championshipId,dropped,eventId,pointsBreakdown,position,publishedStatus,status,totalPoints,entryId
0,6700,287,0,535,25 + 5 + 5,1,Published,Finished,35,None
1,6700,287,0,536,25 + 2,1,Published,Finished,27,None
2,6700,287,0,534,17 + 5 + 4,2,Published,Finished,26,None
3,6702,287,0,536,15 + 4 + 4,3,Published,Finished,23,None
4,6702,287,0,535,15 + 2 + 3,3,Published,Finished,20,None
...,...,...,...,...,...,...,...,...,...,...
58,6706,287,0,536,-,-,Published,DidNotEnter,0,None
59,6706,287,0,535,-,-,Published,DidNotEnter,0,None
60,6840,287,0,536,-,-,Published,DidNotEnter,0,None
61,6840,287,0,534,-,-,Published,DidNotEnter,0,None
62,6840,287,0,535,D,D,Published,DidNotStart,0,None

In [271]:
wrc.getChampionShipRounds()

,eventId,countryId,eventProfileId,country,name,slug,location,startDate,finishDate,timeZoneId,...,clerkOfTheCourse,stewards,templateFilename,locked,public,applyJumpStarts,displayFiaColumns,roundShakedownTimes,shakedownCount,displayLicenseNumber
0,534,147,2,None,Rallye Monte-Carlo,2025-wrc-monte,"Gap, France",2025-01-23,2025-01-26,Europe/Monaco,...,Romain PUGLIESE,Tanja GEILHAUSEN Edoardo DELLEANI ...,results-report-templates/e352213e-0a5d-443f-b9...,0,0,0,0,0,0,0
1,535,215,2,None,Rally Sweden,2025-wrc-sweden,"Ume, Vsterbotten County",2025-02-13,2025-02-16,Europe/Stockholm,...,Stig Rune Kjernsli,Mazen Al-Hilli Mathieu Remmerie ...,results-report-templates/99d0742c-4b8a-4bc9-ab...,0,0,0,0,0,0,0
2,536,116,2,None,Safari Rally Kenya,2025-wrc-kenya,Nairobi,2025-03-20,2025-03-23,Africa/Nairobi,...,George Mwangi,Tanja Geilhausen Alice Scutell ...,results-report-templates/fde0030f-74a1-48a6-ba...,0,0,0,0,0,0,0
3,538,209,2,None,Rally Islas Canarias,2025-wrc-canarias,"Las Palmas, Canarias",2025-04-24,2025-04-27,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
4,540,178,2,None,Vodafone Rally de Portugal,2025-wrc-portugal,"Matosinhos, Porto",2025-05-15,2025-05-18,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
5,542,110,2,None,Rally Italia Sardegna,2025-wrc-italy,"Alghero, Sardinia",2025-06-05,2025-06-08,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
6,544,86,2,None,EKO Acropolis Rally Greece,2025-wrc-greece,"Lamia, Central Greece",2025-06-26,2025-06-29,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
7,546,70,2,None,Delfi Rally Estonia,2025-wrc-estonia,Tartu,2025-07-17,2025-07-20,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
8,547,75,2,None,Secto Rally Finland,2025-wrc-finland,Jyvskyl,2025-07-31,2025-08-03,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
9,549,173,2,None,Rally del Paraguay,2025-wrc-paraguay,Itapa,2025-08-28,2025-08-31,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
10,551,45,2,None,Rally Chile Bio Bio,2025-wrc-chile,"Concepcin, Biobo",2025-09-11,2025-09-14,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
11,553,294,2,None,Central European Rally,2025-wrc-cer,"Bad Griesbach, Germany",2025-10-16,2025-10-19,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
12,554,112,2,None,FORUM8 Rally Japan,2025-wrc-japan,"Toyota, Aichi Prefecture",2025-11-06,2025-11-09,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0
13,555,195,2,None,Rally Saudi Arabia,2025-wrc-saudi-arabia,Bisha,2025-11-27,2025-11-30,AUS Eastern Standard Time,...,None,None,None,0,0,0,0,0,0,0

In [272]:
wrc.getChampionshipEntries()

,championshipEntryId,championshipId,personId,entrantId,manufacturerId,tyreManufacturerId,FirstName,LastName,CountryISO3,Manufacturer,TyreManufacturer
0,6697,287,524,None,33,None,Ott,TNAK,EST,Hyundai,None
1,6698,287,700,None,84,None,Kalle,ROVANPER,FIN,Toyota,None
2,6699,287,670,None,84,None,Sbastien,OGIER,FRA,Toyota,None
3,6700,287,534,None,84,None,Elfyn,EVANS,GBR,Toyota,None
4,6701,287,4676,None,33,None,Adrien,FOURMAUX,FRA,Hyundai,None
5,6702,287,762,None,33,None,Thierry,NEUVILLE,BEL,Hyundai,None
6,6703,287,5791,None,26,None,Joshua,MCERLEAN,IRL,Ford,None
7,6704,287,4727,None,13,None,Yohan,ROSSEL,FRA,Citroen,None
8,6705,287,17305,None,77,None,Nikolay,GRYAZIN,BUL,Skoda,None
9,6706,287,4068,None,33,None,Eric,CAMILLI,FRA,Hyundai,None
10,6782,287,5280,None,84,None,Sami,PAJARI,FIN,Toyota,None
11,6783,287,5279,None,26,None,Grgoire,MUNSTER,LUX,Ford,None
12,6784,287,785,None,84,None,Takamoto,KATSUTA,JPN,Toyota,None
13,6836,287,3169,None,26,None,Mrtin,SESKS,LAT,Ford,None
14,6837,287,5357,None,84,None,Oliver,SOLBERG,SWE,Toyota,None
15,6838,287,9102,None,84,None,Roope,KORHONEN,FIN,Toyota,None
16,6839,287,3125,None,26,None,Jourdan,SERDERIDIS,GRE,Ford,None
17,6840,287,774,None,84,None,Lorenzo,BERTELLI,ITA,Toyota,None
18,6985,287,628,None,77,None,Gus,GREENSMITH,GBR,Skoda,None
19,6986,287,4929,None,84,None,Jan,SOLANS,ESP,Toyota,None
20,6987,287,4776,None,77,None,Fabrizio,ZALDIVAR,PAR,Skoda,None

In [273]:
wrc.getChampionshipCountries()

    countryId          name iso2 iso3
0          45         Chile   CL  CHL
1          70       Estonia   EE  EST
2          75       Finland   FI  FIN
3          86        Greece   GR  GRC
4         110         Italy   IT  ITA
5         112         Japan   JP  JPN
6         116         Kenya   KE  KEN
7         147        Monaco   MC  MCO
8         173      Paraguay   PY  PRY
9         178      Portugal   PT  PRT
10        195  Saudi Arabia   SA  SAU
11        209         Spain   ES  ESP
12        215        Sweden   SE  SWE
13        294        Europe   EU  EUR

In [274]:
wrc.getPenalties(raw=False)

INFO:__main__:Updating penalties...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/penalties.json

      abbvName  code penaltyDuration       reason
0  J. MARTNEZ  TC10            PT1M  1 MIN EARLY
1  P. TIDEMAND  SS14           PT10S  FALSE START

In [275]:
wrc.getRetirements(raw=False)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/retirements.json

INFO:__main__:Updating retirements...

         abbvName  code      reason       retirementDateTime     status
0       J. NGENE   TC2   TECHNICAL  2025-02-14T09:40:08.934  Temporary
1    D. DOMINGUEZ   SF5  MECHANICAL  2025-02-14T16:11:59.017  Temporary
2       H. KOGURE   SF6  MECHANICAL  2025-02-14T16:16:38.611  Temporary
3   B. TEN BRINKE   SF7    OFF ROAD  2025-02-14T17:30:39.094  Temporary
4     J. MARTNEZ   TC7  MECHANICAL  2025-02-14T17:50:10.996  Temporary
5    M. CHATILLON   SF8    OFF ROAD  2025-02-14T19:46:52.423  Temporary
6      V. VATANEN   SF9   TECHNICAL  2025-02-15T09:52:22.322  Temporary
7     A. MARTINEZ   SF9  MECHANICAL  2025-02-15T10:03:12.645  Temporary
8    T. KAUPPINEN  TC11  MECHANICAL  2025-02-15T10:39:42.075  Temporary
9   B. TEN BRINKE  SF10    OFF ROAD  2025-02-15T11:16:02.126  Temporary
10    A. FOURMAUX  SF13    OFF ROAD  2025-02-15T15:23:11.533  Temporary
11      J. KOTUN  SF15    OFF ROAD  2025-02-15T18:25:07.379  Temporary
12        S. GOTO  SF17  MECHANICAL  2025-02-16T10:52:28.052  Permanent
13  B. TEN BRINKE  SF17    OFF ROAD   2025-02-16T10:56:52.81  Permanent
14     L. LASSILA  SF17  MECHANICAL  2025-02-16T11:11:23.756  Permanent
15    J. MARTNEZ  SF18    OFF ROAD  2025-02-16T13:31:24.031  Permanent

In [16]:
wrc.getStageWinners()

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/rallies/583/stagewinners.json

INFO:__main__:Updating stagewinners...

,elapsedDuration,elapsedDurationMs,entryId,stageId,stageName,eventId,rallyId
0,00:03:21.6000000,201600,54778,8330,Ume Sprint 1,535,583
1,00:13:58.8000000,838800,54778,8331,Bygdsiljum 1,535,583
2,00:10:43.8000000,643800,54780,8332,Andersvattnet 1,535,583
3,00:05:54.6000000,354600,54780,8333,Bck 1,535,583
4,00:13:50.1000000,830100,54781,8334,Bygdsiljum 2,535,583
5,00:10:49.2000000,649200,54779,8335,Andersvattnet 2,535,583
6,00:06:02.5000000,362500,54777,8336,Bck 2,535,583
7,00:03:29.9000000,209900,54778,8337,Ume Sprint 2,535,583
8,00:09:00.5000000,540500,54782,8338,Vnns 1,535,583
9,00:06:37.5000000,397500,54778,8339,Sarsjliden 1,535,583
10,00:08:06.5000000,486500,54777,8340,Kolksele 1,535,583
11,00:08:59.1000000,539100,54780,8341,Vnns 2,535,583
12,00:06:42.4000000,402400,54778,8342,Sarsjliden 2,535,583
13,00:08:14.9000000,494900,54777,8343,Kolksele 2,535,583
14,00:03:29.5000000,209500,54777,8344,Ume Sprint 3,535,583
15,00:14:15.3000000,855300,54781,8345,Vstervik 1,535,583
16,00:14:13.3000000,853300,54778,8346,Vstervik 2,535,583
17,00:04:58.9140000,298914,54778,8347,Ume 2 (Power Stage),535,583

In [88]:
wrc.getStageInfo()

,code,distance,eventId,name,number,stageId,stageType,status,timingPrecision,locked
0,SS1,5.16,535,Ume Sprint 1,1,8330,SpecialStage,Completed,Tenth,1
1,SS2,28.27,535,Bygdsiljum 1,2,8331,SpecialStage,Completed,Tenth,1
2,SS3,20.51,535,Andersvattnet 1,3,8332,SpecialStage,Completed,Tenth,1
3,SS4,10.80,535,Bck 1,4,8333,SpecialStage,Completed,Tenth,1
4,SS5,28.27,535,Bygdsiljum 2,5,8334,SpecialStage,Completed,Tenth,1
5,SS6,20.51,535,Andersvattnet 2,6,8335,SpecialStage,Completed,Tenth,1
6,SS7,10.80,535,Bck 2,7,8336,SpecialStage,Completed,Tenth,1
7,SS8,5.16,535,Ume Sprint 2,8,8337,SuperSpecialStage,Completed,Tenth,1
8,SS9,15.65,535,Vnns 1,9,8338,SpecialStage,Completed,Tenth,1
9,SS10,14.23,535,Sarsjliden 1,10,8339,SpecialStage,Completed,Tenth,1
10,SS11,16.06,535,Kolksele 1,11,8340,SpecialStage,Completed,Tenth,1
11,SS12,15.65,535,Vnns 2,12,8341,SpecialStage,Completed,Tenth,1
12,SS13,14.23,535,Sarsjliden 2,13,8342,SpecialStage,Completed,Tenth,1
13,SS14,16.06,535,Kolksele 2,14,8343,SpecialStage,Completed,Tenth,1
14,SS15,5.16,535,Ume Sprint 3,15,8344,SuperSpecialStage,Completed,Tenth,1
15,SS16,29.35,535,Vstervik 1,16,8345,SpecialStage,Completed,Tenth,1
16,SS17,29.35,535,Vstervik 2,17,8346,SpecialStage,Completed,Tenth,1
17,SS18,8.62,535,Ume 2 (Power Stage),18,8347,PowerStage,Completed,Thousandth,1

In [18]:
wrc.getStageSplitPoints()

    splitPointId  stageId  number  distance
0          13602     8331       1      2.50
1          13603     8331       2      5.43
2          13604     8330       1      4.39
3          13605     8331       5     12.50
4          13606     8331       4     10.11
..           ...      ...     ...       ...
95         13699     8347       3      7.84
96         13700     8347       1      0.54
97         13701     8347       2      2.77
98         13704     8344       2      3.15
99         13705     8344       3      4.39

[100 rows x 4 columns]

In [19]:
wrc.getStageControls()

,code,controlId,controlPenalties,distance,eventId,firstCarDueDateTime,firstCarDueDateTimeLocal,location,stageId,status,targetDuration,targetDurationMs,timingPrecision,type,locked,bogey,bogeyMs,roundingPolicy
0,TC1,35228,All,4.97,535,2025-02-13T18:00:00,None,Ume Sprint,8330,Completed,00:20:00,1200000.0,Minute,TimeControl,1,None,None,NoRounding
1,SS1,35229,None,5.16,535,2025-02-13T18:05:00,None,Ume Sprint 1,8330,Completed,00:05:00,300000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
2,SF1,35230,None,NaN,535,None,None,Ume Sprint 1,8330,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
3,TC2,35231,All,61.13,535,2025-02-14T08:15:00,None,Bygdsiljum,8331,Completed,01:10:00,4200000.0,Minute,TimeControl,1,None,None,NoRounding
4,SS2,35232,None,28.27,535,2025-02-14T08:18:00,None,Bygdsiljum 1,8331,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
5,SF2,35233,None,NaN,535,None,None,Bygdsiljum 1,8331,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
6,TC3,35234,All,22.00,535,2025-02-14T09:16:00,None,Andersvattnet,8332,Completed,00:58:00,3480000.0,Minute,TimeControl,1,None,None,NoRounding
7,SS3,35235,None,20.51,535,2025-02-14T09:19:00,None,Andersvattnet 1,8332,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
8,SF3,35236,None,NaN,535,None,None,Andersvattnet 1,8332,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
9,TC4,35237,All,41.01,535,2025-02-14T10:24:00,None,Bck,8333,Completed,01:05:00,3900000.0,Minute,TimeControl,1,None,None,NoRounding
10,SS4,35238,None,10.80,535,2025-02-14T10:27:00,None,Bck 1,8333,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
11,SF4,35239,None,NaN,535,None,None,Bck 1,8333,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
12,TC5,35240,All,61.13,535,2025-02-14T13:45:00,None,Bygdsiljum,8334,Completed,01:10:00,4200000.0,Minute,TimeControl,1,None,None,NoRounding
13,SS5,35241,None,28.27,535,2025-02-14T13:48:00,None,Bygdsiljum 2,8334,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
14,SF5,35242,None,NaN,535,None,None,Bygdsiljum 2,8334,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
15,TC6,35243,All,22.00,535,2025-02-14T14:46:00,None,Andersvattnet,8335,Completed,00:58:00,3480000.0,Minute,TimeControl,1,None,None,NoRounding
16,SS6,35244,None,20.51,535,2025-02-14T14:49:00,None,Andersvattnet 2,8335,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
17,SF6,35245,None,NaN,535,None,None,Andersvattnet 2,8335,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
18,TC7,35246,All,41.01,535,2025-02-14T15:54:00,None,Bck,8336,Completed,01:05:00,3900000.0,Minute,TimeControl,1,None,None,NoRounding
19,SS7,35247,None,10.80,535,2025-02-14T15:57:00,None,Bck 2,8336,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
20,SF7,35248,None,NaN,535,None,None,Bck 2,8336,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
21,TC8,35249,All,4.97,535,2025-02-14T18:02:00,None,Ume Sprint,8337,Completed,00:22:00,1320000.0,Minute,TimeControl,1,None,None,NoRounding
22,SS8,35250,None,5.16,535,2025-02-14T18:05:00,None,Ume Sprint 2,8337,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
23,SF8,35251,None,NaN,535,None,None,Ume Sprint 2,8337,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
24,TC9,35252,All,27.60,535,2025-02-15T08:07:00,None,Vnns,8338,Completed,00:42:00,2520000.0,Minute,TimeControl,1,None,None,NoRounding
25,SS9,35253,None,15.65,535,2025-02-15T08:10:00,None,Vnns 1,8338,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
26,SF9,35254,None,NaN,535,None,None,Vnns 1,8338,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
27,TC10,35255,All,27.31,535,2025-02-15T08:59:00,None,Sarsjliden,8339,Completed,00:49:00,2940000.0,Minute,TimeControl,1,None,None,NoRounding
28,SS10,35256,None,14.23,535,2025-02-15T09:05:00,None,Sarsjliden 1,8339,Completed,00:06:00,360000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
29,SF10,35257,None,NaN,535,None,None,Sarsjliden 1,8339,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
30,TC11,35258,All,28.73,535,2025-02-15T10:05:00,None,Kolksele,8340,Completed,01:00:00,3600000.0,Minute,TimeControl,1,None,None,NoRounding
31,SS11,35259,None,16.06,535,2025-02-15T10:08:00,None,Kolksele 1,8340,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
32,SF11,35260,None,NaN,535,None,None,Kolksele 1,8340,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
33,TC12,35261,All,27.60,535,2025-02-15T13:07:00,None,Vnns,8341,Completed,00:42:00,2520000.0,Minute,TimeControl,1,None,None,NoRounding
34,SS12,35262,None,15.65,535,2025-02-15T13:10:00,None,Vnns 2,8341,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
35,SF12,35263,None,NaN,535,None,None,Vnns 2,8341,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
36,TC13,35264,All,27.31,535,2025-02-15T13:59:00,None,Sarsjliden,8342,Completed,00:49:00,2940000.0,Minute,TimeControl,1,None,None,NoRounding
37,SS13,35265,None,14.23,535,2025-02-15T14:05:00,None,Sarsjliden 2,8342,Completed,00:06:00,360000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
38,SF13,35266,None,NaN,535,None,None,Sarsjliden 2,8342,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
39,TC14,35267,All,28.73,535,2025-02-15T15:05:00,None,Kolksele,8343,Completed,01:00:00,3600000.0,Minute,TimeControl,1,None,None,NoRounding
40,SS14,35268,None,16.06,535,2025-02-15T15:08:00,None,Kolksele 2,8343,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
41,SF14,35269,None,NaN,535,None,None,Kolksele 2,8343,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
42,TC15,35270,All,4.97,535,2025-02-15T17:02:00,None,Ume Sprint,8344,Completed,00:18:00,1080000.0,Minute,TimeControl,1,None,None,NoRounding
43,SS15,35271,None,5.16,535,2025-02-15T17:05:00,None,Ume Sprint 3,8344,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
44,SF15,35272,None,NaN,535,None,None,Ume Sprint 3,8344,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
45,TC16,35273,All,26.32,535,2025-02-16T06:24:00,None,Vstervik,8345,Completed,00:39:00,2340000.0,Minute,TimeControl,1,None,None,NoRounding
46,SS16,35274,None,29.35,535,2025-02-16T06:27:00,None,Vstervik 1,8345,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
47,SF16,35275,None,NaN,535,None,None,Vstervik 1,8345,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
48,TC17,35276,All,26.32,535,2025-02-16T08:54:00,None,Vstervik,8346,Completed,00:39:00,2340000.0,Minute,TimeControl,1,None,None,NoRounding
49,SS17,35277,None,29.35,535,2025-02-16T08:57:00,None,Vstervik 2,8346,Completed,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
50,SF17,35278,None,NaN,535,None,None,Vstervik 2,8346,Completed,None,NaN,Tenth,FlyingFinish,1,None,None,NoRounding
51,TC18,35279,All,6.85,535,2025-02-16T11:12:00,None,Ume,8347,Completed,00:17:00,1020000.0,Minute,TimeControl,1,None,None,NoRounding
52,SS18,35280,None,8.62,535,2025-02-16T11:15:00,None,Ume 2 (Power Stage),8347,Interrupted,00:03:00,180000.0,Minute,StageStart,1,None,None,RoundToClosestMinute
53,SF18,35281,None,NaN,535,None,None,Ume 2 (Power Stage),8347,Interrupted,None,NaN,Thousandth,FlyingFinish,1,None,None,NoRounding

In [20]:
wrc.setStageByCode("SS3")
wrc.stageId, wrc.stageName, wrc.stageCode

INFO:__main__:Updating stage_info...
INFO:__main__:Updating split_points...
INFO:__main__:Updating stage_controls...

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages.json
https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages.json

(8332, 'Andersvattnet 1', 'SS3')

In [21]:
wrc.getStageTimes()

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages/8332/stagetimes.json?rallyId=583

INFO:__main__:Updating stage_times...

,diffFirst,diffFirstMs,diffPrev,diffPrevMs,elapsedDuration,elapsedDurationMs,entryId,position,source,stageId,stageTimeId,status,eventId,rallyId
0,00:00:01.8000000,1800,00:00:01.8000000,1800,00:10:45.6000000,645600,54778,2,Default,8332,324389,Completed,535,583
1,00:00:00,0,00:00:00,0,00:10:43.8000000,643800,54780,1,Default,8332,324396,Completed,535,583
2,00:00:06.9000000,6900,00:00:02.2000000,2200,00:10:50.7000000,650700,54782,6,Default,8332,324403,Completed,535,583
3,00:00:03,3000,00:00:00,0,00:10:46.8000000,646800,54779,4,Default,8332,324410,Completed,535,583
4,00:00:04.7000000,4700,00:00:01.7000000,1700,00:10:48.5000000,648500,54777,5,Default,8332,324417,Completed,535,583
5,00:00:14.7000000,14700,00:00:01.9000000,1900,00:10:58.5000000,658500,54786,10,Default,8332,324424,Completed,535,583
6,00:00:03,3000,00:00:01.2000000,1200,00:10:46.8000000,646800,54781,3,Default,8332,324431,Completed,535,583
7,00:00:12.8000000,12800,00:00:02.5000000,2500,00:10:56.6000000,656600,54783,9,Default,8332,324438,Completed,535,583
8,00:00:10.3000000,10300,00:00:02.4000000,2400,00:10:54.1000000,654100,54784,8,Default,8332,324445,Completed,535,583
9,00:00:07.9000000,7900,00:00:01,1000,00:10:51.7000000,651700,54785,7,Default,8332,324452,Completed,535,583
10,00:01:49,109000,00:00:02.1000000,2100,00:12:32.8000000,752800,54788,48,Default,8332,324459,Completed,535,583
11,00:00:32.8000000,32800,00:00:18.1000000,18100,00:11:16.6000000,676600,54789,11,Default,8332,324466,Completed,535,583
12,00:00:59.1000000,59100,00:00:03.7000000,3700,00:11:42.9000000,702900,54790,22,Default,8332,324473,Completed,535,583
13,00:00:37.2000000,37200,00:00:04.4000000,4400,00:11:21,681000,54791,12,Default,8332,324480,Completed,535,583
14,00:00:47.3000000,47300,00:00:02.2000000,2200,00:11:31.1000000,691100,54801,17,Default,8332,324487,Completed,535,583
15,00:00:48.1000000,48100,00:00:00.8000000,800,00:11:31.9000000,691900,54792,18,Default,8332,324494,Completed,535,583
16,00:00:41.3000000,41300,00:00:02.3000000,2300,00:11:25.1000000,685100,54793,14,Default,8332,324501,Completed,535,583
17,00:00:43.2000000,43200,00:00:01.9000000,1900,00:11:27,687000,54794,15,Default,8332,324508,Completed,535,583
18,00:00:45.1000000,45100,00:00:01.9000000,1900,00:11:28.9000000,688900,54795,16,Default,8332,324515,Completed,535,583
19,00:00:39,39000,00:00:01.8000000,1800,00:11:22.8000000,682800,54796,13,Default,8332,324522,Completed,535,583
20,00:00:52.6000000,52600,00:00:01.8000000,1800,00:11:36.4000000,696400,54797,20,Default,8332,324529,Completed,535,583
21,00:00:50.8000000,50800,00:00:02.7000000,2700,00:11:34.6000000,694600,54798,19,Default,8332,324536,Completed,535,583
22,00:01:02.1000000,62100,00:00:02.7000000,2700,00:11:45.9000000,705900,54803,24,Default,8332,324543,Completed,535,583
23,00:00:55.4000000,55400,00:00:02.8000000,2800,00:11:39.2000000,699200,54799,21,Default,8332,324550,Completed,535,583
24,00:01:46.9000000,106900,00:00:00.3000000,300,00:12:30.7000000,750700,54800,47,Default,8332,324557,Completed,535,583
25,00:01:13.2000000,73200,00:00:02.8000000,2800,00:11:57,717000,54802,30,Default,8332,324564,Completed,535,583
26,00:01:10.4000000,70400,00:00:04.7000000,4700,00:11:54.2000000,714200,54804,29,Default,8332,324571,Completed,535,583
27,00:01:05.7000000,65700,00:00:00.8000000,800,00:11:49.5000000,709500,54805,28,Default,8332,324578,Completed,535,583
28,00:01:26.4000000,86400,00:00:02.4000000,2400,00:12:10.2000000,730200,54806,43,Default,8332,324585,Completed,535,583
29,00:01:59.3000000,119300,00:00:03.7000000,3700,00:12:43.1000000,763100,54807,51,Default,8332,324592,Completed,535,583
30,00:01:46.6000000,106600,00:00:08.2000000,8200,00:12:30.4000000,750400,54808,46,Default,8332,324599,Completed,535,583
31,00:02:50.3000000,170300,00:00:09.4000000,9400,00:13:34.1000000,814100,54809,57,Default,8332,324606,Completed,535,583
32,00:01:19.5000000,79500,00:00:01.3000000,1300,00:12:03.3000000,723300,54810,38,Default,8332,324613,Completed,535,583
33,00:01:18.2000000,78200,00:00:00.8000000,800,00:12:02,722000,54811,37,Default,8332,324620,Completed,535,583
34,00:01:04.7000000,64700,00:00:00,0,00:11:48.5000000,708500,54812,26,Default,8332,324627,Completed,535,583
35,00:01:04.7000000,64700,00:00:02.6000000,2600,00:11:48.5000000,708500,54815,25,Default,8332,324634,Completed,535,583
36,00:01:20.4000000,80400,00:00:00.9000000,900,00:12:04.2000000,724200,54813,39,Default,8332,324641,Completed,535,583
37,00:01:32.9000000,92900,00:00:06.5000000,6500,00:12:16.7000000,736700,54816,44,Default,8332,324648,Completed,535,583
38,00:01:16.7000000,76700,00:00:00.4000000,400,00:12:00.5000000,720500,54814,35,Default,8332,324655,Completed,535,583
39,00:02:56.4000000,176400,00:00:06.1000000,6100,00:13:40.2000000,820200,54817,58,Default,8332,324662,Completed,535,583
40,00:02:35.4000000,155400,00:00:32.8000000,32800,00:13:19.2000000,799200,54818,54,Default,8332,324669,Completed,535,583
41,00:02:02.6000000,122600,00:00:00.9000000,900,00:12:46.4000000,766400,54819,53,Default,8332,324676,Completed,535,583
42,00:01:17.4000000,77400,00:00:00.7000000,700,00:12:01.2000000,721200,54820,36,Default,8332,324683,Completed,535,583
43,00:01:04.9000000,64900,00:00:00.2000000,200,00:11:48.7000000,708700,54821,27,Default,8332,324690,Completed,535,583
44,00:01:15.4000000,75400,00:00:00.5000000,500,00:11:59.2000000,719200,54822,32,Default,8332,324697,Completed,535,583
45,00:00:59.4000000,59400,00:00:00.3000000,300,00:11:43.2000000,703200,54823,23,Default,8332,324704,Completed,535,583
46,00:01:21.1000000,81100,00:00:00.6000000,600,00:12:04.9000000,724900,54824,41,Default,8332,324711,Completed,535,583
47,00:01:24,84000,00:00:02.9000000,2900,00:12:07.8000000,727800,54825,42,Default,8332,324718,Completed,535,583
48,00:01:14.9000000,74900,00:00:01.7000000,1700,00:11:58.7000000,718700,54826,31,Default,8332,324725,Completed,535,583
49,00:10:59.4000000,659400,00:06:00.6000000,360600,00:21:43.2000000,1303200,54827,60,Assessed,8332,324732,Completed,535,583
50,00:01:15.9000000,75900,00:00:00.5000000,500,00:11:59.7000000,719700,54828,33,Default,8332,324739,Completed,535,583
51,00:01:16.3000000,76300,00:00:00.4000000,400,00:12:00.1000000,720100,54829,34,Default,8332,324746,Completed,535,583
52,00:01:55.6000000,115600,00:00:06.6000000,6600,00:12:39.4000000,759400,54830,49,Default,8332,324753,Completed,535,583
53,00:02:39.3000000,159300,00:00:03.9000000,3900,00:13:23.1000000,803100,54831,55,Default,8332,324760,Completed,535,583
54,00:01:20.5000000,80500,00:00:00.1000000,100,00:12:04.3000000,724300,54833,40,Default,8332,324767,Completed,535,583
55,00:02:40.9000000,160900,00:00:01.6000000,1600,00:13:24.7000000,804700,54834,56,Default,8332,324774,Completed,535,583
56,00:02:01.7000000,121700,00:00:02.4000000,2400,00:12:45.5000000,765500,54835,52,Default,8332,324781,Completed,535,583
57,00:01:38.4000000,98400,00:00:05.5000000,5500,00:12:22.2000000,742200,54836,45,Default,8332,324788,Completed,535,583
58,00:01:55.6000000,115600,00:00:00,0,00:12:39.4000000,759400,54837,50,Default,8332,324795,Completed,535,583
59,00:04:58.8000000,298800,00:02:02.4000000,122400,00:15:42.6000000,942600,54838,59,Default,8332,324802,Completed,535,583

In [22]:
wrc.getSplitTimes()

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages/8332/splittimes.json?rallyId=583

INFO:__main__:Updating split_times...

,elapsedDuration,elapsedDurationMs,entryId,splitDateTime,splitDateTimeLocal,splitPointId,splitPointTimeId,stageTimeDuration,stageTimeDurationMs,startDateTime,startDateTimeLocal,stageId,eventId,rallyId
0,PT1M6.9S,66900,54778,2025-02-14T09:20:06.9,2025-02-14T10:20:06.9+01:00,13615,474234,00:10:45.6000000,645600.0,2025-02-14T09:19:00,2025-02-14T10:19:00+01:00,8332,535,583
1,PT2M35.8S,155800,54778,2025-02-14T09:21:35.8,2025-02-14T10:21:35.8+01:00,13614,474243,00:10:45.6000000,645600.0,2025-02-14T09:19:00,2025-02-14T10:19:00+01:00,8332,535,583
2,PT3M20.9S,200900,54778,2025-02-14T09:22:20.9,2025-02-14T10:22:20.9+01:00,13618,474246,00:10:45.6000000,645600.0,2025-02-14T09:19:00,2025-02-14T10:19:00+01:00,8332,535,583
3,PT1M7.2S,67200,54780,2025-02-14T09:23:07.2,2025-02-14T10:23:07.2+01:00,13615,474252,00:10:43.8000000,643800.0,2025-02-14T09:22:00,2025-02-14T10:22:00+01:00,8332,535,583
4,PT4M50S,290000,54778,2025-02-14T09:23:50,2025-02-14T10:23:50+01:00,13620,474256,00:10:45.6000000,645600.0,2025-02-14T09:19:00,2025-02-14T10:19:00+01:00,8332,535,583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,PT10M38.6S,638600,54836,2025-02-14T11:20:38.6,2025-02-14T12:20:38.6+01:00,13622,475233,00:12:22.2000000,742200.0,2025-02-14T11:10:00,2025-02-14T12:10:00+01:00,8332,535,583
409,PT9M1S,541000,54838,2025-02-14T11:21:01,2025-02-14T12:21:01+01:00,13617,475236,00:15:42.6000000,942600.0,2025-02-14T11:12:00,2025-02-14T12:12:00+01:00,8332,535,583
410,PT10M54.2S,654200,54837,2025-02-14T11:21:54.2,2025-02-14T12:21:54.2+01:00,13622,475244,00:12:39.4000000,759400.0,2025-02-14T11:11:00,2025-02-14T12:11:00+01:00,8332,535,583
411,PT10M53S,653000,54838,2025-02-14T11:22:53,2025-02-14T12:22:53+01:00,13619,475251,00:15:42.6000000,942600.0,2025-02-14T11:12:00,2025-02-14T12:12:00+01:00,8332,535,583
412,PT13M29.1S,809100,54838,2025-02-14T11:25:29.1,2025-02-14T12:25:29.1+01:00,13622,475282,00:15:42.6000000,942600.0,2025-02-14T11:12:00,2025-02-14T12:12:00+01:00,8332,535,583

In [23]:
wrc.getStageResults()

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages/8332/results.json?rallyId=583

INFO:__main__:Updating stage_overall...

,diffFirst,diffFirstMs,diffPrev,diffPrevMs,entryId,penaltyTime,penaltyTimeMs,position,stageTime,stageTimeMs,totalTime,totalTimeMs,stageId,eventId,rallyId
0,PT16.8S,16800,PT9.1S,9100,54777,PT0S,0,5,PT28M22.8S,1702800,PT28M22.8S,1702800,8332,535,583
1,PT0S,0,PT0S,0,54778,PT0S,0,1,PT28M6S,1686000,PT28M6S,1686000,8332,535,583
2,PT3.9S,3900,PT3.9S,3900,54779,PT0S,0,2,PT28M9.9S,1689900,PT28M9.9S,1689900,8332,535,583
3,PT5.8S,5800,PT1.9S,1900,54780,PT0S,0,3,PT28M11.8S,1691800,PT28M11.8S,1691800,8332,535,583
4,PT7.7S,7700,PT1.9S,1900,54781,PT0S,0,4,PT28M13.7S,1693700,PT28M13.7S,1693700,8332,535,583
5,PT16.9S,16900,PT0.1S,100,54782,PT0S,0,6,PT28M22.9S,1702900,PT28M22.9S,1702900,8332,535,583
6,PT58.3S,58300,PT2.6S,2600,54783,PT0S,0,10,PT29M4.3S,1744300,PT29M4.3S,1744300,8332,535,583
7,PT55.7S,55700,PT21.9S,21900,54784,PT0S,0,9,PT29M1.7S,1741700,PT29M1.7S,1741700,8332,535,583
8,PT33.8S,33800,PT0.9S,900,54785,PT0S,0,8,PT28M39.8S,1719800,PT28M39.8S,1719800,8332,535,583
9,PT32.9S,32900,PT16S,16000,54786,PT0S,0,7,PT28M38.9S,1718900,PT28M38.9S,1718900,8332,535,583
10,PT5M57.1S,357100,PT12.1S,12100,54788,PT0S,0,52,PT34M3.1S,2043100,PT34M3.1S,2043100,8332,535,583
11,PT1M26.1S,86100,PT27.8S,27800,54789,PT0S,0,11,PT29M32.1S,1772100,PT29M32.1S,1772100,8332,535,583
12,PT2M1S,121000,PT3.9S,3900,54790,PT0S,0,17,PT30M7S,1807000,PT30M7S,1807000,8332,535,583
13,PT1M38.5S,98500,PT12.4S,12400,54791,PT0S,0,12,PT29M44.5S,1784500,PT29M44.5S,1784500,8332,535,583
14,PT2M9.4S,129400,PT0.1S,100,54792,PT0S,0,19,PT30M15.4S,1815400,PT30M15.4S,1815400,8332,535,583
15,PT1M54.9S,114900,PT0.2S,200,54793,PT0S,0,15,PT30M0.9S,1800900,PT30M0.9S,1800900,8332,535,583
16,PT1M57.1S,117100,PT2.2S,2200,54794,PT0S,0,16,PT30M3.1S,1803100,PT30M3.1S,1803100,8332,535,583
17,PT2M9.3S,129300,PT8.3S,8300,54795,PT0S,0,18,PT30M15.3S,1815300,PT30M15.3S,1815300,8332,535,583
18,PT1M53.7S,113700,PT15.2S,15200,54796,PT0S,0,13,PT29M59.7S,1799700,PT29M59.7S,1799700,8332,535,583
19,PT2M10.3S,130300,PT0.9S,900,54797,PT0S,0,20,PT30M16.3S,1816300,PT30M16.3S,1816300,8332,535,583
20,PT2M14.3S,134300,PT4S,4000,54798,PT0S,0,21,PT30M20.3S,1820300,PT30M20.3S,1820300,8332,535,583
21,PT2M25S,145000,PT10.7S,10700,54799,PT0S,0,22,PT30M31S,1831000,PT30M31S,1831000,8332,535,583
22,PT3M12.3S,192300,PT5.9S,5900,54800,PT0S,0,30,PT31M18.3S,1878300,PT31M18.3S,1878300,8332,535,583
23,PT1M54.7S,114700,PT1S,1000,54801,PT0S,0,14,PT30M0.7S,1800700,PT30M0.7S,1800700,8332,535,583
24,PT3M58.9S,238900,PT0.6S,600,54802,PT0S,0,43,PT32M4.9S,1924900,PT32M4.9S,1924900,8332,535,583
25,PT3M0.6S,180600,PT3.1S,3100,54803,PT0S,0,26,PT31M6.6S,1866600,PT31M6.6S,1866600,8332,535,583
26,PT3M5.4S,185400,PT3.4S,3400,54804,PT0S,0,28,PT31M11.4S,1871400,PT31M11.4S,1871400,8332,535,583
27,PT3M6.4S,186400,PT1S,1000,54805,PT0S,0,29,PT31M12.4S,1872400,PT31M12.4S,1872400,8332,535,583
28,PT3M36.7S,216700,PT8.5S,8500,54806,PT0S,0,34,PT31M42.7S,1902700,PT31M42.7S,1902700,8332,535,583
29,PT5M29.2S,329200,PT16.1S,16100,54807,PT0S,0,48,PT33M35.2S,2015200,PT33M35.2S,2015200,8332,535,583
30,PT5M29.5S,329500,PT0.3S,300,54808,PT0S,0,49,PT33M35.5S,2015500,PT33M35.5S,2015500,8332,535,583
31,PT7M55.3S,475300,PT27.9S,27900,54809,PT0S,0,56,PT36M1.3S,2161300,PT36M1.3S,2161300,8332,535,583
32,PT4M0.3S,240300,PT1.4S,1400,54810,PT0S,0,44,PT32M6.3S,1926300,PT32M6.3S,1926300,8332,535,583
33,PT3M36.7S,216700,PT0S,0,54811,PT0S,0,35,PT31M42.7S,1902700,PT31M42.7S,1902700,8332,535,583
34,PT2M48.1S,168100,PT23.1S,23100,54812,PT0S,0,23,PT30M54.1S,1854100,PT30M54.1S,1854100,8332,535,583
35,PT3M27.9S,207900,PT0.6S,600,54813,PT0S,0,32,PT31M33.9S,1893900,PT31M33.9S,1893900,8332,535,583
36,PT3M38.4S,218400,PT1.7S,1700,54814,PT0S,0,36,PT31M44.4S,1904400,PT31M44.4S,1904400,8332,535,583
37,PT2M57.5S,177500,PT2.2S,2200,54815,PT0S,0,25,PT31M3.5S,1863500,PT31M3.5S,1863500,8332,535,583
38,PT4M21.7S,261700,PT21.4S,21400,54816,PT0S,0,45,PT32M27.7S,1947700,PT32M27.7S,1947700,8332,535,583
39,PT9M35.3S,575300,PT1M18.7S,78700,54817,PT0S,0,58,PT37M41.3S,2261300,PT37M41.3S,2261300,8332,535,583
40,PT7M2.6S,422600,PT52.2S,52200,54818,PT0S,0,54,PT35M8.6S,2108600,PT35M8.6S,2108600,8332,535,583
41,PT5M30.2S,330200,PT0.7S,700,54819,PT0S,0,50,PT33M36.2S,2016200,PT33M36.2S,2016200,8332,535,583
42,PT3M40.2S,220200,PT1.8S,1800,54820,PT0S,0,37,PT31M46.2S,1906200,PT31M46.2S,1906200,8332,535,583
43,PT3M2S,182000,PT1.4S,1400,54821,PT0S,0,27,PT31M8S,1868000,PT31M8S,1868000,8332,535,583
44,PT3M27.3S,207300,PT15S,15000,54822,PT0S,0,31,PT31M33.3S,1893300,PT31M33.3S,1893300,8332,535,583
45,PT2M55.3S,175300,PT7.2S,7200,54823,PT0S,0,24,PT31M1.3S,1861300,PT31M1.3S,1861300,8332,535,583
46,PT3M46.1S,226100,PT1.9S,1900,54824,PT0S,0,39,PT31M52.1S,1912100,PT31M52.1S,1912100,8332,535,583
47,PT3M44.2S,224200,PT4S,4000,54825,PT0S,0,38,PT31M50.2S,1910200,PT31M50.2S,1910200,8332,535,583
48,PT3M28.2S,208200,PT0.3S,300,54826,PT0S,0,33,PT31M34.2S,1894200,PT31M34.2S,1894200,8332,535,583
49,PT23M1.5S,1381500,PT8M18.3S,498300,54827,PT0S,0,60,PT51M7.5S,3067500,PT51M7.5S,3067500,8332,535,583
50,PT3M48.6S,228600,PT2S,2000,54828,PT0S,0,41,PT31M54.6S,1914600,PT31M54.6S,1914600,8332,535,583
51,PT3M58.3S,238300,PT9.7S,9700,54829,PT0S,0,42,PT32M4.3S,1924300,PT32M4.3S,1924300,8332,535,583
52,PT5M9.3S,309300,PT47.6S,47600,54830,PT0S,0,46,PT33M15.3S,1995300,PT33M15.3S,1995300,8332,535,583
53,PT6M10.4S,370400,PT13.3S,13300,54831,PT0S,0,53,PT34M16.4S,2056400,PT34M16.4S,2056400,8332,535,583
54,PT3M46.6S,226600,PT0.5S,500,54833,PT0S,0,40,PT31M52.6S,1912600,PT31M52.6S,1912600,8332,535,583
55,PT7M27.4S,447400,PT24.8S,24800,54834,PT0S,0,55,PT35M33.4S,2133400,PT35M33.4S,2133400,8332,535,583
56,PT8M16.6S,496600,PT21.3S,21300,54835,PT0S,0,57,PT36M22.6S,2182600,PT36M22.6S,2182600,8332,535,583
57,PT5M13.1S,313100,PT3.8S,3800,54836,PT0S,0,47,PT33M19.1S,1999100,PT33M19.1S,1999100,8332,535,583
58,PT5M45S,345000,PT14.8S,14800,54837,PT0S,0,51,PT33M51S,2031000,PT33M51S,2031000,8332,535,583
59,PT14M43.2S,883200,PT5M7.9S,307900,54838,PT0S,0,59,PT42M49.2S,2569200,PT42M49.2S,2569200,8332,535,583

In [ ]:
## DONE ABOVE....

In [10]:
#
q = "SELECT name from season_rounds"
q = f'SELECT eventId, name FROM season_rounds WHERE name="Rally Sweden";'
wrc.query(q).iloc[0]["eventId"]

np.int64(535)

In [ ]:
getEventGroups(eventId)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/groups.json

   groupId    name
0      152  Rally1
1       98  Rally2
2      121  Rally3
3      100  Rally5

In [ ]:
getEventShakeDownTimes(eventId)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/shakedowntimes.json?shakedownNumber=1

,shakedownTimeId,eventId,entryId,runNumber,shakedownNumber,runDuration,runDurationMs
0,18735,535,54777,1,1,PT2M10.805S,130805
1,18754,535,54777,2,1,PT2M11.12S,131120
2,18791,535,54777,3,1,PT2M9.62S,129620
3,18824,535,54777,4,1,PT2M6.527S,126527
4,18731,535,54778,1,1,PT2M8.792S,128792
...,...,...,...,...,...,...,...
148,18878,535,54836,1,1,PT2M47.694S,167694
149,18863,535,54837,1,1,PT2M52.537S,172537
150,18855,535,54838,1,1,PT3M15.317S,195317
151,18867,535,54838,2,1,PT3M7.743S,187743
152,18877,535,54838,3,1,PT3M2.663S,182663

In [ ]:
rallyId, itineraryId, eventData_df, eventRallies_df, eventClasses_df = getEvent(eventId)
# rallyId = 584  # Safari WRC on eventId = 536 itineraryId = 1155
rallyId, itineraryId, eventData_df, eventRallies_df, eventClasses_df

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535.json

(583,
 1137,
            eventId  countryId  eventProfileId country          name  \
 countryId      535        215               2     215  Rally Sweden
 name           535        215               2  Sweden  Rally Sweden
 iso2           535        215               2      SE  Rally Sweden
 iso3           535        215               2     SWE  Rally Sweden

                       slug                   location   startDate  finishDate  \
 countryId  2025-wrc-sweden  Ume, Vsterbotten County  2025-02-13  2025-02-16
 name       2025-wrc-sweden  Ume, Vsterbotten County  2025-02-13  2025-02-16
 iso2       2025-wrc-sweden  Ume, Vsterbotten County  2025-02-13  2025-02-16
 iso3       2025-wrc-sweden  Ume, Vsterbotten County  2025-02-13  2025-02-16

                  timeZoneId  ...    clerkOfTheCourse  \
 countryId  Europe/Stockholm  ...  Stig Rune Kjernsli
 name       Europe/Stockholm  ...  Stig Rune Kjernsli
 iso2       Europe/Stockholm  ...  Stig Rune Kjernsli
 iso3       Europe/Stockholm  ...  Stig Rune Kjernsli

                                                     stewards  \
 countryId  Mazen Al-Hilli          Mathieu Remmerie      ...
 name       Mazen Al-Hilli          Mathieu Remmerie      ...
 iso2       Mazen Al-Hilli          Mathieu Remmerie      ...
 iso3       Mazen Al-Hilli          Mathieu Remmerie      ...

                                             templateFilename locked public  \
 countryId  results-report-templates/99d0742c-4b8a-4bc9-ab...  False  False
 name       results-report-templates/99d0742c-4b8a-4bc9-ab...  False  False
 iso2       results-report-templates/99d0742c-4b8a-4bc9-ab...  False  False
 iso3       results-report-templates/99d0742c-4b8a-4bc9-ab...  False  False

           applyJumpStarts  displayFiaColumns roundShakedownTimes  \
 countryId            True               True                True
 name                 True               True                True
 iso2                 True               True                True
 iso3                 True               True                True

           shakedownCount displayLicenseNumber
 countryId              1                False
 name                   1                False
 iso2                   1                False
 iso3                   1                False

 [4 rows x 27 columns],
    rallyId  eventId  itineraryId   name  isMain  \
 0      583      535         1137  Rally    True

                                         eventClasses
 0  [{'eventClassId': 2912, 'eventId': 535, 'name'...  ,
    eventClassId  eventId name
 0          2912      535  RC1
 1          2913      535  RC2
 2          2914      535  RC3
 3          2915      535  RC5)

In [ ]:
getStageTimes(535, 583, 8332)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages/8332/stagetimes.json?rallyId=583

,stageTimeId,stageId,entryId,elapsedDurationMs,elapsedDuration,status,source,position,diffFirstMs,diffFirst,diffPrevMs,diffPrev
0,324396,8332,54780,643800,00:10:43.8000000,Completed,Default,1,0,00:00:00,0,00:00:00
1,324389,8332,54778,645600,00:10:45.6000000,Completed,Default,2,1800,00:00:01.8000000,1800,00:00:01.8000000
2,324431,8332,54781,646800,00:10:46.8000000,Completed,Default,3,3000,00:00:03,1200,00:00:01.2000000
3,324410,8332,54779,646800,00:10:46.8000000,Completed,Default,4,3000,00:00:03,0,00:00:00
4,324417,8332,54777,648500,00:10:48.5000000,Completed,Default,5,4700,00:00:04.7000000,1700,00:00:01.7000000
5,324403,8332,54782,650700,00:10:50.7000000,Completed,Default,6,6900,00:00:06.9000000,2200,00:00:02.2000000
6,324452,8332,54785,651700,00:10:51.7000000,Completed,Default,7,7900,00:00:07.9000000,1000,00:00:01
7,324445,8332,54784,654100,00:10:54.1000000,Completed,Default,8,10300,00:00:10.3000000,2400,00:00:02.4000000
8,324438,8332,54783,656600,00:10:56.6000000,Completed,Default,9,12800,00:00:12.8000000,2500,00:00:02.5000000
9,324424,8332,54786,658500,00:10:58.5000000,Completed,Default,10,14700,00:00:14.7000000,1900,00:00:01.9000000
10,324466,8332,54789,676600,00:11:16.6000000,Completed,Default,11,32800,00:00:32.8000000,18100,00:00:18.1000000
11,324480,8332,54791,681000,00:11:21,Completed,Default,12,37200,00:00:37.2000000,4400,00:00:04.4000000
12,324522,8332,54796,682800,00:11:22.8000000,Completed,Default,13,39000,00:00:39,1800,00:00:01.8000000
13,324501,8332,54793,685100,00:11:25.1000000,Completed,Default,14,41300,00:00:41.3000000,2300,00:00:02.3000000
14,324508,8332,54794,687000,00:11:27,Completed,Default,15,43200,00:00:43.2000000,1900,00:00:01.9000000
15,324515,8332,54795,688900,00:11:28.9000000,Completed,Default,16,45100,00:00:45.1000000,1900,00:00:01.9000000
16,324487,8332,54801,691100,00:11:31.1000000,Completed,Default,17,47300,00:00:47.3000000,2200,00:00:02.2000000
17,324494,8332,54792,691900,00:11:31.9000000,Completed,Default,18,48100,00:00:48.1000000,800,00:00:00.8000000
18,324536,8332,54798,694600,00:11:34.6000000,Completed,Default,19,50800,00:00:50.8000000,2700,00:00:02.7000000
19,324529,8332,54797,696400,00:11:36.4000000,Completed,Default,20,52600,00:00:52.6000000,1800,00:00:01.8000000
20,324550,8332,54799,699200,00:11:39.2000000,Completed,Default,21,55400,00:00:55.4000000,2800,00:00:02.8000000
21,324473,8332,54790,702900,00:11:42.9000000,Completed,Default,22,59100,00:00:59.1000000,3700,00:00:03.7000000
22,324704,8332,54823,703200,00:11:43.2000000,Completed,Default,23,59400,00:00:59.4000000,300,00:00:00.3000000
23,324543,8332,54803,705900,00:11:45.9000000,Completed,Default,24,62100,00:01:02.1000000,2700,00:00:02.7000000
24,324634,8332,54815,708500,00:11:48.5000000,Completed,Default,25,64700,00:01:04.7000000,2600,00:00:02.6000000
25,324627,8332,54812,708500,00:11:48.5000000,Completed,Default,26,64700,00:01:04.7000000,0,00:00:00
26,324690,8332,54821,708700,00:11:48.7000000,Completed,Default,27,64900,00:01:04.9000000,200,00:00:00.2000000
27,324578,8332,54805,709500,00:11:49.5000000,Completed,Default,28,65700,00:01:05.7000000,800,00:00:00.8000000
28,324571,8332,54804,714200,00:11:54.2000000,Completed,Default,29,70400,00:01:10.4000000,4700,00:00:04.7000000
29,324564,8332,54802,717000,00:11:57,Completed,Default,30,73200,00:01:13.2000000,2800,00:00:02.8000000
30,324725,8332,54826,718700,00:11:58.7000000,Completed,Default,31,74900,00:01:14.9000000,1700,00:00:01.7000000
31,324697,8332,54822,719200,00:11:59.2000000,Completed,Default,32,75400,00:01:15.4000000,500,00:00:00.5000000
32,324739,8332,54828,719700,00:11:59.7000000,Completed,Default,33,75900,00:01:15.9000000,500,00:00:00.5000000
33,324746,8332,54829,720100,00:12:00.1000000,Completed,Default,34,76300,00:01:16.3000000,400,00:00:00.4000000
34,324655,8332,54814,720500,00:12:00.5000000,Completed,Default,35,76700,00:01:16.7000000,400,00:00:00.4000000
35,324683,8332,54820,721200,00:12:01.2000000,Completed,Default,36,77400,00:01:17.4000000,700,00:00:00.7000000
36,324620,8332,54811,722000,00:12:02,Completed,Default,37,78200,00:01:18.2000000,800,00:00:00.8000000
37,324613,8332,54810,723300,00:12:03.3000000,Completed,Default,38,79500,00:01:19.5000000,1300,00:00:01.3000000
38,324641,8332,54813,724200,00:12:04.2000000,Completed,Default,39,80400,00:01:20.4000000,900,00:00:00.9000000
39,324767,8332,54833,724300,00:12:04.3000000,Completed,Default,40,80500,00:01:20.5000000,100,00:00:00.1000000
40,324711,8332,54824,724900,00:12:04.9000000,Completed,Default,41,81100,00:01:21.1000000,600,00:00:00.6000000
41,324718,8332,54825,727800,00:12:07.8000000,Completed,Default,42,84000,00:01:24,2900,00:00:02.9000000
42,324585,8332,54806,730200,00:12:10.2000000,Completed,Default,43,86400,00:01:26.4000000,2400,00:00:02.4000000
43,324648,8332,54816,736700,00:12:16.7000000,Completed,Default,44,92900,00:01:32.9000000,6500,00:00:06.5000000
44,324788,8332,54836,742200,00:12:22.2000000,Completed,Default,45,98400,00:01:38.4000000,5500,00:00:05.5000000
45,324599,8332,54808,750400,00:12:30.4000000,Completed,Default,46,106600,00:01:46.6000000,8200,00:00:08.2000000
46,324557,8332,54800,750700,00:12:30.7000000,Completed,Default,47,106900,00:01:46.9000000,300,00:00:00.3000000
47,324459,8332,54788,752800,00:12:32.8000000,Completed,Default,48,109000,00:01:49,2100,00:00:02.1000000
48,324753,8332,54830,759400,00:12:39.4000000,Completed,Default,49,115600,00:01:55.6000000,6600,00:00:06.6000000
49,324795,8332,54837,759400,00:12:39.4000000,Completed,Default,50,115600,00:01:55.6000000,0,00:00:00
50,324592,8332,54807,763100,00:12:43.1000000,Completed,Default,51,119300,00:01:59.3000000,3700,00:00:03.7000000
51,324781,8332,54835,765500,00:12:45.5000000,Completed,Default,52,121700,00:02:01.7000000,2400,00:00:02.4000000
52,324676,8332,54819,766400,00:12:46.4000000,Completed,Default,53,122600,00:02:02.6000000,900,00:00:00.9000000
53,324669,8332,54818,799200,00:13:19.2000000,Completed,Default,54,155400,00:02:35.4000000,32800,00:00:32.8000000
54,324760,8332,54831,803100,00:13:23.1000000,Completed,Default,55,159300,00:02:39.3000000,3900,00:00:03.9000000
55,324774,8332,54834,804700,00:13:24.7000000,Completed,Default,56,160900,00:02:40.9000000,1600,00:00:01.6000000
56,324606,8332,54809,814100,00:13:34.1000000,Completed,Default,57,170300,00:02:50.3000000,9400,00:00:09.4000000
57,324662,8332,54817,820200,00:13:40.2000000,Completed,Default,58,176400,00:02:56.4000000,6100,00:00:06.1000000
58,324802,8332,54838,942600,00:15:42.6000000,Completed,Default,59,298800,00:04:58.8000000,122400,00:02:02.4000000
59,324732,8332,54827,1303200,00:21:43.2000000,Completed,Assessed,60,659400,00:10:59.4000000,360600,00:06:00.6000000

In [ ]:
getEntries(eventId, rallyId)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/rallies/583/entries.json

(   tags  entryId  eventId  driverId  codriverId  manufacturerId  entrantId  \
 0    []    54777      535       762         851              33        166
 1    []    54778      535       534         553              84         91
 2    []    54779      535       524         525              33        166
 3    []    54780      535      4676        4945              33        166
 4    []    54781      535       785        5507              84         91
 ..  ...      ...      ...       ...         ...             ...        ...
 57   []    54834      535     14234       17360              33       1148
 58   []    54835      535     17361       17362              77       3801
 59   []    54836      535      5525       17363              33       1380
 60   []    54837      535       610         611              77       1379
 61   []    54838      535       626        5545              69        572

     groupId identifier     vehicleModel  entryListOrder   pbf drive  \
 0       152          1     i20 N Rally1               1  None  None
 1       152         33  GR Yaris Rally1               2  None  None
 2       152          8     i20 N Rally1               3  None  None
 3       152         16     i20 N Rally1               4  None  None
 4       152         18  GR Yaris Rally1               5  None  None
 ..      ...        ...              ...             ...   ...   ...
 57       98         70            i20 N              58  None  None
 58       98         71        Fabia Evo              59  None  None
 59       98         72           NG i20              60  None  None
 60       98         73            Fabia              61  None  None
 61      100         74     Clio RS Line              62  None  None

    eligibility priority    status tyreManufacturer
 0            M       P1     Entry             None
 1            M       P1     Entry             None
 2            M       P1     Entry             None
 3            M       P1  Rejoined             None
 4            M       P1     Entry             None
 ..         ...      ...       ...              ...
 57        (DM)            Retired             None
 58                          Entry             None
 59                          Entry             None
 60                          Entry             None
 61                          Entry             None

 [62 rows x 17 columns],
     personId  countryId state firstName  lastName     abbvName  \
 0        762         22  None   Thierry  NEUVILLE  T. NEUVILLE
 1        534        235  None     Elfyn     EVANS     E. EVANS
 2        524         70  None       Ott     TNAK     O. TNAK
 3       4676         76  None    Adrien  FOURMAUX  A. FOURMAUX
 4        785        112  None  Takamoto   KATSUTA   T. KATSUTA
 ..       ...        ...   ...       ...       ...          ...
 57     14234        174  None     Jorge  MARTNEZ  J. MARTNEZ
 58     17361         76          Didier    THORAL    D. THORAL
 59      5525         76  None      Tony   RIBAUDO   T. RIBAUDO
 60       610         76  None   Thibaut    POIZOT    T. POIZOT
 61       626        110  None     Carlo      COVI      C. COVI

             fullName code licenseNumber  country.countryId    country.name  \
 0   Thierry NEUVILLE  NEU          None                 22         Belgium
 1        Elfyn EVANS  EVA          None                235  United Kingdom
 2          Ott TNAK  TN          None                 70         Estonia
 3    Adrien FOURMAUX  FOU          None                 76          France
 4   Takamoto KATSUTA  KAT          None                112           Japan
 ..               ...  ...           ...                ...             ...
 57    Jorge MARTNEZ  MAR          None                174            Peru
 58     Didier THORAL  THO          None                 76          France
 59      Tony RIBAUDO  RIB          None                 76          France
 60    Thibaut POIZOT  POI          None                 76          France
 61        Carlo COVI  COV          None                110           Italy

    country.iso2 country.iso3
 0            BE          BEL
 1            GB          GBR
 2            EE          EST
 3            FR          FRA
 4            JP          JPN
 ..          ...          ...
 57           PE          PER
 58           FR          FRA
 59           FR          FRA
 60           FR          FRA
 61           IT          ITA

 [62 rows x 13 columns],
     personId  countryId state     firstName   lastName      abbvName  \
 0        851         22  None       Martijn   WYDAEGHE   M. WYDAEGHE
 1        553        235  None         Scott     MARTIN     S. MARTIN
 2        525         70  None        Martin   JRVEOJA   M. JRVEOJA
 3       4945         76  None     Alexandre      CORIA      A. CORIA
 4       5507        107  None         Aaron   JOHNSTON   A. JOHNSTON
 ..       ...        ...   ...           ...        ...           ...
 57     17360        318        Jos Alberto       AROS       J. AROS
 58     17362         76             Olivier     BROUZE     O. BROUZE
 59     17363         76            Cyrielle    DELORME    C. DELORME
 60       611         76  None        Marion      GRAND      M. GRAND
 61      5545        110  None       Michela  LORIGIOLA  M. LORIGIOLA

              fullName code licenseNumber  country.countryId    country.name  \
 0    Martijn WYDAEGHE  WYD          None                 22         Belgium
 1        Scott MARTIN  MAR          None                235  United Kingdom
 2     Martin JRVEOJA  JAR          None                 70         Estonia
 3     Alexandre CORIA  COR          None                 76          France
 4      Aaron JOHNSTON  JOH          None                107         Ireland
 ..                ...  ...           ...                ...             ...
 57  Jos Alberto AROS  ARO          None                318       Chile IOC
 58     Olivier BROUZE  BRO          None                 76          France
 59   Cyrielle DELORME  DEL          None                 76          France
 60       Marion GRAND  GRA          None                 76          France
 61  Michela LORIGIOLA  LOR          None                110           Italy

    country.iso2 country.iso3
 0            BE          BEL
 1            GB          GBR
 2            EE          EST
 3            FR          FRA
 4            IE          IRL
 ..          ...          ...
 57           CL          CHI
 58           FR          FRA
 59           FR          FRA
 60           FR          FRA
 61           IT          ITA

 [62 rows x 13 columns],
     manufacturerId     name logoFilename
 0               33  Hyundai      hyundai
 1               84   Toyota       toyota
 6               26     Ford         ford
 15              77    Skoda        skoda
 32              13  Citroen      citroen
 33              69  Renault      renault,
     entrantId                                  name logoFilename
 0         166  HYUNDAI SHELL MOBIS WORLD RALLY TEAM         None
 1          91               TOYOTA GAZOO RACING WRT         None
 6          94         M-SPORT FORD WORLD RALLY TEAM         None
 7        3777              TOYOTA GAZOO RACING WRT2
 12        177                            PRINTSPORT         None
 13       1436                        GEORG LINNAME
 14       2648                        ROOPE KORHONEN
 15       3794                       PONTUS TIDEMAND
 16       1570                        MIKKO HEIKKIL
 17       1257                           LAURI JOONA
 18        186                          TOKSPORT WRT         None
 19       2738                         ROBERT VIRVES
 20       1904                         ISAK REIERSEN
 21       3199                        FIA RALLY STAR
 22       1844            TOYOTA GAZOO RACING WRT NG
 24       3544                      TUUKKA KAUPPINEN
 26       2501                            FILIP KOHN
 27       3795                   BERNHARD TEN BRINKE
 28       1438                       JAROSAW KOTUN
 29       1421                       ALEJANDRO MAURO
 30       2506                     GP GARAGE MY TEAM
 31       1428                       MIGUEL GRANADOS
 32       1237                    RACHELE SOMASCHINI
 33       3241                      MATTO CHATILLON
 34       2634                        MATTEO FONTANA
 35       3796                         VILLE VATANEN
 38       2911                         LEEVI LASSILA
 39       3454                            ADAM GRAHN
 40       2415                    GEORGIOS VASILAKIS
 41       1871                           ERIC ROYRE
 42       3115                        ANDR MARTINEZ
 43        376             CASTROL FORD TEAM TRKIYE         None
 45       1300                       DIEGO DOMINGUEZ
 46       3254                       MILLE JOHANSSON
 48       1477      MOTORSPORT IRELAND RALLY ACADEMY
 49       3329                   TRISTAN CHARPENTIER
 50       3452                             LIGHTGREY
 51       3483                        THOMAS MARTENS
 52       3798                     TEAM PETROL OFISI
 53       3799                 WRC YOUNG DRIVER TEAM
 54       3800                 WRC YOUNG DRIVER TEAM
 55       3709                           JOOA IIVARI
 56       1621                  ALEXANDER VILLANUEVA
 57       1148                        JORGE MARTNEZ
 58       3801                         DIDIER THORAL
 59       1380                          TONY RIBAUDO
 60       1379                        THIBAUT POIZOT
 61        572                            CARLO COVI         None,
     groupId    name
 0       152  Rally1
 12       98  Rally2
 33      121  Rally3
 61      100  Rally5,
     eventClassId  eventId name
 0           2912      535  RC1
 12          2913      535  RC2
 33          2914      535  RC3
 61          2915      535  RC5)

In [ ]:
from pandas import concat

itineraryLegs_df, itinerarySections_df, itineraryControls_df, itineraryStages_df = (
    getEventItineraries(eventId, itineraryId)
)
itineraryControls_df, itineraryStages_df

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/itineraries/1137.json

(    itinerarySectionId  itineraryLegId  order        name  controlId  eventId  \
 0                 3635            1506      1   Section 1      35201      535
 1                 3635            1506      1   Section 1      35228      535
 2                 3635            1506      1   Section 1      35229      535
 3                 3635            1506      1   Section 1      35230      535
 4                 3635            1506      1   Section 1      35202      535
 ..                 ...             ...    ...         ...        ...      ...
 76                3644            1509     10  Section 10      35226      535
 77                3644            1509     10  Section 10      35279      535
 78                3644            1509     10  Section 10      35280      535
 79                3644            1509     10  Section 10      35281      535
 80                3644            1509     10  Section 10      35227      535

     stageId          type   code                    location  ...  \
 0       NaN   TimeControl    TC0       Podium Red Barn Arena  ...
 1    8330.0   TimeControl    TC1                 Ume Sprint  ...
 2    8330.0    StageStart    SS1               Ume Sprint 1  ...
 3    8330.0  FlyingFinish    SF1               Ume Sprint 1  ...
 4       NaN   TimeControl   TC1A          Parc Ferm Ume IN  ...
 ..      ...           ...    ...                         ...  ...
 76      NaN    RegroupOut  TC17B       Regroup OUT, Red Barn  ...
 77   8347.0   TimeControl   TC18                        Ume  ...
 78   8347.0    StageStart   SS18        Ume 2 (Power Stage)  ...
 79   8347.0  FlyingFinish   SF18        Ume 2 (Power Stage)  ...
 80      NaN   TimeControl  TC18A  Finish TC and Holding Area  ...

    targetDuration  targetDurationMs  firstCarDueDateTime  \
 0            None               NaN  2025-02-13T17:40:00
 1        00:20:00         1200000.0  2025-02-13T18:00:00
 2        00:05:00          300000.0  2025-02-13T18:05:00
 3            None               NaN                 None
 4        00:30:00         1800000.0  2025-02-13T18:35:00
 ..            ...               ...                  ...
 76       00:40:00         2400000.0  2025-02-16T10:55:00
 77       00:17:00         1020000.0  2025-02-16T11:12:00
 78       00:03:00          180000.0  2025-02-16T11:15:00
 79           None               NaN                 None
 80       00:30:00         1800000.0  2025-02-16T11:45:00

      firstCarDueDateTimeLocal       status controlPenalties  \
 0   2025-02-13T18:40:00+01:00    Completed              All
 1   2025-02-13T19:00:00+01:00    Completed              All
 2   2025-02-13T19:05:00+01:00    Completed             None
 3                        None    Completed             None
 4   2025-02-13T19:35:00+01:00    Completed             Late
 ..                        ...          ...              ...
 76  2025-02-16T11:55:00+01:00    Completed             None
 77  2025-02-16T12:12:00+01:00    Completed              All
 78  2025-02-16T12:15:00+01:00  Interrupted             None
 79                       None  Interrupted             None
 80  2025-02-16T12:45:00+01:00    Completed             Late

           roundingPolicy locked bogey  bogeyMs
 0             NoRounding   True  None     None
 1             NoRounding   True  None     None
 2   RoundToClosestMinute   True  None     None
 3             NoRounding   True  None     None
 4             NoRounding   True  None     None
 ..                   ...    ...   ...      ...
 76            NoRounding   True  None     None
 77            NoRounding   True  None     None
 78  RoundToClosestMinute   True  None     None
 79            NoRounding   True  None     None
 80            NoRounding   True  None     None

 [81 rows x 22 columns],
     itinerarySectionId  itineraryLegId  order        name  stageId  eventId  \
 0                 3635            1506      1   Section 1     8330      535
 1                 3636            1507      2   Section 2     8331      535
 2                 3636            1507      2   Section 2     8332      535
 3                 3636            1507      2   Section 2     8333      535
 4                 3637            1507      3   Section 3     8334      535
 5                 3637            1507      3   Section 3     8335      535
 6                 3637            1507      3   Section 3     8336      535
 7                 3638            1507      4   Section 4     8337      535
 8                 3639            1508      5   Section 5     8338      535
 9                 3639            1508      5   Section 5     8339      535
 10                3639            1508      5   Section 5     8340      535
 11                3640            1508      6   Section 6     8341      535
 12                3640            1508      6   Section 6     8342      535
 13                3640            1508      6   Section 6     8343      535
 14                3641            1508      7   Section 7     8344      535
 15                3642            1509      8   Section 8     8345      535
 16                3643            1509      9   Section 9     8346      535
 17                3644            1509     10  Section 10     8347      535

     number                  name  distance     status          stageType  \
 0        1         Ume Sprint 1      5.16  Completed       SpecialStage
 1        2          Bygdsiljum 1     28.27  Completed       SpecialStage
 2        3       Andersvattnet 1     20.51  Completed       SpecialStage
 3        4                Bck 1     10.80  Completed       SpecialStage
 4        5          Bygdsiljum 2     28.27  Completed       SpecialStage
 5        6       Andersvattnet 2     20.51  Completed       SpecialStage
 6        7                Bck 2     10.80  Completed       SpecialStage
 7        8         Ume Sprint 2      5.16  Completed  SuperSpecialStage
 8        9              Vnns 1     15.65  Completed       SpecialStage
 9       10         Sarsjliden 1     14.23  Completed       SpecialStage
 10      11            Kolksele 1     16.06  Completed       SpecialStage
 11      12              Vnns 2     15.65  Completed       SpecialStage
 12      13         Sarsjliden 2     14.23  Completed       SpecialStage
 13      14            Kolksele 2     16.06  Completed       SpecialStage
 14      15         Ume Sprint 3      5.16  Completed  SuperSpecialStage
 15      16           Vstervik 1     29.35  Completed       SpecialStage
 16      17           Vstervik 2     29.35  Completed       SpecialStage
 17      18  Ume 2 (Power Stage)      8.62  Completed         PowerStage

    timingPrecision  locked  code
 0            Tenth    True   SS1
 1            Tenth    True   SS2
 2            Tenth    True   SS3
 3            Tenth    True   SS4
 4            Tenth    True   SS5
 5            Tenth    True   SS6
 6            Tenth    True   SS7
 7            Tenth    True   SS8
 8            Tenth    True   SS9
 9            Tenth    True  SS10
 10           Tenth    True  SS11
 11           Tenth    True  SS12
 12           Tenth    True  SS13
 13           Tenth    True  SS14
 14           Tenth    True  SS15
 15           Tenth    True  SS16
 16           Tenth    True  SS17
 17      Thousandth    True  SS18  )

In [ ]:
getStages(eventId)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages.json

(    stageId  eventId  number                  name  distance     status  \
 0      8330      535       1         Ume Sprint 1      5.16  Completed
 1      8331      535       2          Bygdsiljum 1     28.27  Completed
 2      8332      535       3       Andersvattnet 1     20.51  Completed
 3      8333      535       4                Bck 1     10.80  Completed
 4      8334      535       5          Bygdsiljum 2     28.27  Completed
 5      8335      535       6       Andersvattnet 2     20.51  Completed
 6      8336      535       7                Bck 2     10.80  Completed
 7      8337      535       8         Ume Sprint 2      5.16  Completed
 8      8338      535       9              Vnns 1     15.65  Completed
 9      8339      535      10         Sarsjliden 1     14.23  Completed
 10     8340      535      11            Kolksele 1     16.06  Completed
 11     8341      535      12              Vnns 2     15.65  Completed
 12     8342      535      13         Sarsjliden 2     14.23  Completed
 13     8343      535      14            Kolksele 2     16.06  Completed
 14     8344      535      15         Ume Sprint 3      5.16  Completed
 15     8345      535      16           Vstervik 1     29.35  Completed
 16     8346      535      17           Vstervik 2     29.35  Completed
 17     8347      535      18  Ume 2 (Power Stage)      8.62  Completed

             stageType timingPrecision  locked  code
 0        SpecialStage           Tenth    True   SS1
 1        SpecialStage           Tenth    True   SS2
 2        SpecialStage           Tenth    True   SS3
 3        SpecialStage           Tenth    True   SS4
 4        SpecialStage           Tenth    True   SS5
 5        SpecialStage           Tenth    True   SS6
 6        SpecialStage           Tenth    True   SS7
 7   SuperSpecialStage           Tenth    True   SS8
 8        SpecialStage           Tenth    True   SS9
 9        SpecialStage           Tenth    True  SS10
 10       SpecialStage           Tenth    True  SS11
 11       SpecialStage           Tenth    True  SS12
 12       SpecialStage           Tenth    True  SS13
 13       SpecialStage           Tenth    True  SS14
 14  SuperSpecialStage           Tenth    True  SS15
 15       SpecialStage           Tenth    True  SS16
 16       SpecialStage           Tenth    True  SS17
 17         PowerStage      Thousandth    True  SS18  ,
     splitPointId  stageId  number  distance
 0          13604     8330       1      4.39
 1          13602     8331       1      2.50
 2          13603     8331       2      5.43
 3          13605     8331       5     12.50
 4          13606     8331       4     10.11
 ..           ...      ...     ...       ...
 95         13697     8346       7     17.50
 96         13698     8346       9     22.50
 97         13699     8347       3      7.84
 98         13700     8347       1      0.54
 99         13701     8347       2      2.77

 [100 rows x 4 columns],
     controlId  eventId  stageId          type  code              location  \
 0       35228      535     8330   TimeControl   TC1           Ume Sprint
 1       35229      535     8330    StageStart   SS1         Ume Sprint 1
 2       35230      535     8330  FlyingFinish   SF1         Ume Sprint 1
 3       35231      535     8331   TimeControl   TC2            Bygdsiljum
 4       35232      535     8331    StageStart   SS2          Bygdsiljum 1
 5       35233      535     8331  FlyingFinish   SF2          Bygdsiljum 1
 6       35234      535     8332   TimeControl   TC3         Andersvattnet
 7       35235      535     8332    StageStart   SS3       Andersvattnet 1
 8       35236      535     8332  FlyingFinish   SF3       Andersvattnet 1
 9       35237      535     8333   TimeControl   TC4                  Bck
 10      35238      535     8333    StageStart   SS4                Bck 1
 11      35239      535     8333  FlyingFinish   SF4                Bck 1
 12      35240      535     8334   TimeControl   TC5            Bygdsiljum
 13      35241      535     8334    StageStart   SS5          Bygdsiljum 2
 14      35242      535     8334  FlyingFinish   SF5          Bygdsiljum 2
 15      35243      535     8335   TimeControl   TC6         Andersvattnet
 16      35244      535     8335    StageStart   SS6       Andersvattnet 2
 17      35245      535     8335  FlyingFinish   SF6       Andersvattnet 2
 18      35246      535     8336   TimeControl   TC7                  Bck
 19      35247      535     8336    StageStart   SS7                Bck 2
 20      35248      535     8336  FlyingFinish   SF7                Bck 2
 21      35249      535     8337   TimeControl   TC8           Ume Sprint
 22      35250      535     8337    StageStart   SS8         Ume Sprint 2
 23      35251      535     8337  FlyingFinish   SF8         Ume Sprint 2
 24      35252      535     8338   TimeControl   TC9                Vnns
 25      35253      535     8338    StageStart   SS9              Vnns 1
 26      35254      535     8338  FlyingFinish   SF9              Vnns 1
 27      35255      535     8339   TimeControl  TC10           Sarsjliden
 28      35256      535     8339    StageStart  SS10         Sarsjliden 1
 29      35257      535     8339  FlyingFinish  SF10         Sarsjliden 1
 30      35258      535     8340   TimeControl  TC11              Kolksele
 31      35259      535     8340    StageStart  SS11            Kolksele 1
 32      35260      535     8340  FlyingFinish  SF11            Kolksele 1
 33      35261      535     8341   TimeControl  TC12                Vnns
 34      35262      535     8341    StageStart  SS12              Vnns 2
 35      35263      535     8341  FlyingFinish  SF12              Vnns 2
 36      35264      535     8342   TimeControl  TC13           Sarsjliden
 37      35265      535     8342    StageStart  SS13         Sarsjliden 2
 38      35266      535     8342  FlyingFinish  SF13         Sarsjliden 2
 39      35267      535     8343   TimeControl  TC14              Kolksele
 40      35268      535     8343    StageStart  SS14            Kolksele 2
 41      35269      535     8343  FlyingFinish  SF14            Kolksele 2
 42      35270      535     8344   TimeControl  TC15           Ume Sprint
 43      35271      535     8344    StageStart  SS15         Ume Sprint 3
 44      35272      535     8344  FlyingFinish  SF15         Ume Sprint 3
 45      35273      535     8345   TimeControl  TC16             Vstervik
 46      35274      535     8345    StageStart  SS16           Vstervik 1
 47      35275      535     8345  FlyingFinish  SF16           Vstervik 1
 48      35276      535     8346   TimeControl  TC17             Vstervik
 49      35277      535     8346    StageStart  SS17           Vstervik 2
 50      35278      535     8346  FlyingFinish  SF17           Vstervik 2
 51      35279      535     8347   TimeControl  TC18                  Ume
 52      35280      535     8347    StageStart  SS18  Ume 2 (Power Stage)
 53      35281      535     8347  FlyingFinish  SF18  Ume 2 (Power Stage)

    timingPrecision  distance targetDuration  targetDurationMs  \
 0           Minute      4.97       00:20:00         1200000.0
 1           Minute      5.16       00:05:00          300000.0
 2            Tenth       NaN           None               NaN
 3           Minute     61.13       01:10:00         4200000.0
 4           Minute     28.27       00:03:00          180000.0
 5            Tenth       NaN           None               NaN
 6           Minute     22.00       00:58:00         3480000.0
 7           Minute     20.51       00:03:00          180000.0
 8            Tenth       NaN           None               NaN
 9           Minute     41.01       01:05:00         3900000.0
 10          Minute     10.80       00:03:00          180000.0
 11           Tenth       NaN           None               NaN
 12          Minute     61.13       01:10:00         4200000.0
 13          Minute     28.27       00:03:00          180000.0
 14           Tenth       NaN           None               NaN
 15          Minute     22.00       00:58:00         3480000.0
 16          Minute     20.51       00:03:00          180000.0
 17           Tenth       NaN           None               NaN
 18          Minute     41.01       01:05:00         3900000.0
 19          Minute     10.80       00:03:00          180000.0
 20           Tenth       NaN           None               NaN
 21          Minute      4.97       00:22:00         1320000.0
 22          Minute      5.16       00:03:00          180000.0
 23           Tenth       NaN           None               NaN
 24          Minute     27.60       00:42:00         2520000.0
 25          Minute     15.65       00:03:00          180000.0
 26           Tenth       NaN           None               NaN
 27          Minute     27.31       00:49:00         2940000.0
 28          Minute     14.23       00:06:00          360000.0
 29           Tenth       NaN           None               NaN
 30          Minute     28.73       01:00:00         3600000.0
 31          Minute     16.06       00:03:00          180000.0
 32           Tenth       NaN           None               NaN
 33          Minute     27.60       00:42:00         2520000.0
 34          Minute     15.65       00:03:00          180000.0
 35           Tenth       NaN           None               NaN
 36          Minute     27.31       00:49:00         2940000.0
 37          Minute     14.23       00:06:00          360000.0
 38           Tenth       NaN           None               NaN
 39          Minute     28.73       01:00:00         3600000.0
 40          Minute     16.06       00:03:00          180000.0
 41           Tenth       NaN           None               NaN
 42          Minute      4.97       00:18:00         1080000.0
 43          Minute      5.16       00:03:00          180000.0
 44           Tenth       NaN           None               NaN
 45          Minute     26.32       00:39:00         2340000.0
 46          Minute     29.35       00:03:00          180000.0
 47           Tenth       NaN           None               NaN
 48          Minute     26.32       00:39:00         2340000.0
 49          Minute     29.35       00:03:00          180000.0
 50           Tenth       NaN           None               NaN
 51          Minute      6.85       00:17:00         1020000.0
 52          Minute      8.62       00:03:00          180000.0
 53      Thousandth       NaN           None               NaN

     firstCarDueDateTime firstCarDueDateTimeLocal       status  \
 0   2025-02-13T18:00:00                     None    Completed
 1   2025-02-13T18:05:00                     None    Completed
 2                  None                     None    Completed
 3   2025-02-14T08:15:00                     None    Completed
 4   2025-02-14T08:18:00                     None    Completed
 5                  None                     None    Completed
 6   2025-02-14T09:16:00                     None    Completed
 7   2025-02-14T09:19:00                     None    Completed
 8                  None                     None    Completed
 9   2025-02-14T10:24:00                     None    Completed
 10  2025-02-14T10:27:00                     None    Completed
 11                 None                     None    Completed
 12  2025-02-14T13:45:00                     None    Completed
 13  2025-02-14T13:48:00                     None    Completed
 14                 None                     None    Completed
 15  2025-02-14T14:46:00                     None    Completed
 16  2025-02-14T14:49:00                     None    Completed
 17                 None                     None    Completed
 18  2025-02-14T15:54:00                     None    Completed
 19  2025-02-14T15:57:00                     None    Completed
 20                 None                     None    Completed
 21  2025-02-14T18:02:00                     None    Completed
 22  2025-02-14T18:05:00                     None    Completed
 23                 None                     None    Completed
 24  2025-02-15T08:07:00                     None    Completed
 25  2025-02-15T08:10:00                     None    Completed
 26                 None                     None    Completed
 27  2025-02-15T08:59:00                     None    Completed
 28  2025-02-15T09:05:00                     None    Completed
 29                 None                     None    Completed
 30  2025-02-15T10:05:00                     None    Completed
 31  2025-02-15T10:08:00                     None    Completed
 32                 None                     None    Completed
 33  2025-02-15T13:07:00                     None    Completed
 34  2025-02-15T13:10:00                     None    Completed
 35                 None                     None    Completed
 36  2025-02-15T13:59:00                     None    Completed
 37  2025-02-15T14:05:00                     None    Completed
 38                 None                     None    Completed
 39  2025-02-15T15:05:00                     None    Completed
 40  2025-02-15T15:08:00                     None    Completed
 41                 None                     None    Completed
 42  2025-02-15T17:02:00                     None    Completed
 43  2025-02-15T17:05:00                     None    Completed
 44                 None                     None    Completed
 45  2025-02-16T06:24:00                     None    Completed
 46  2025-02-16T06:27:00                     None    Completed
 47                 None                     None    Completed
 48  2025-02-16T08:54:00                     None    Completed
 49  2025-02-16T08:57:00                     None    Completed
 50                 None                     None    Completed
 51  2025-02-16T11:12:00                     None    Completed
 52  2025-02-16T11:15:00                     None  Interrupted
 53                 None                     None  Interrupted

    controlPenalties        roundingPolicy  locked bogey bogeyMs
 0               All            NoRounding    True  None    None
 1              None  RoundToClosestMinute    True  None    None
 2              None            NoRounding    True  None    None
 3               All            NoRounding    True  None    None
 4              None  RoundToClosestMinute    True  None    None
 5              None            NoRounding    True  None    None
 6               All            NoRounding    True  None    None
 7              None  RoundToClosestMinute    True  None    None
 8              None            NoRounding    True  None    None
 9               All            NoRounding    True  None    None
 10             None  RoundToClosestMinute    True  None    None
 11             None            NoRounding    True  None    None
 12              All            NoRounding    True  None    None
 13             None  RoundToClosestMinute    True  None    None
 14             None            NoRounding    True  None    None
 15              All            NoRounding    True  None    None
 16             None  RoundToClosestMinute    True  None    None
 17             None            NoRounding    True  None    None
 18              All            NoRounding    True  None    None
 19             None  RoundToClosestMinute    True  None    None
 20             None            NoRounding    True  None    None
 21              All            NoRounding    True  None    None
 22             None  RoundToClosestMinute    True  None    None
 23             None            NoRounding    True  None    None
 24              All            NoRounding    True  None    None
 25             None  RoundToClosestMinute    True  None    None
 26             None            NoRounding    True  None    None
 27              All            NoRounding    True  None    None
 28             None  RoundToClosestMinute    True  None    None
 29             None            NoRounding    True  None    None
 30              All            NoRounding    True  None    None
 31             None  RoundToClosestMinute    True  None    None
 32             None            NoRounding    True  None    None
 33              All            NoRounding    True  None    None
 34             None  RoundToClosestMinute    True  None    None
 35             None            NoRounding    True  None    None
 36              All            NoRounding    True  None    None
 37             None  RoundToClosestMinute    True  None    None
 38             None            NoRounding    True  None    None
 39              All            NoRounding    True  None    None
 40             None  RoundToClosestMinute    True  None    None
 41             None            NoRounding    True  None    None
 42              All            NoRounding    True  None    None
 43             None  RoundToClosestMinute    True  None    None
 44             None            NoRounding    True  None    None
 45              All            NoRounding    True  None    None
 46             None  RoundToClosestMinute    True  None    None
 47             None            NoRounding    True  None    None
 48              All            NoRounding    True  None    None
 49             None  RoundToClosestMinute    True  None    None
 50             None            NoRounding    True  None    None
 51              All            NoRounding    True  None    None
 52             None  RoundToClosestMinute    True  None    None
 53             None            NoRounding    True  None    None  )

In [ ]:
_getStageResults(535, 583, 8332)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/535/stages/8332/results.json?rallyId=583

,entryId,stageTimeMs,stageTime,penaltyTimeMs,penaltyTime,totalTimeMs,totalTime,position,diffFirstMs,diffFirst,diffPrevMs,diffPrev
0,54778,1686000,PT28M6S,0,PT0S,1686000,PT28M6S,1,0,PT0S,0,PT0S
1,54779,1689900,PT28M9.9S,0,PT0S,1689900,PT28M9.9S,2,3900,PT3.9S,3900,PT3.9S
2,54780,1691800,PT28M11.8S,0,PT0S,1691800,PT28M11.8S,3,5800,PT5.8S,1900,PT1.9S
3,54781,1693700,PT28M13.7S,0,PT0S,1693700,PT28M13.7S,4,7700,PT7.7S,1900,PT1.9S
4,54777,1702800,PT28M22.8S,0,PT0S,1702800,PT28M22.8S,5,16800,PT16.8S,9100,PT9.1S
5,54782,1702900,PT28M22.9S,0,PT0S,1702900,PT28M22.9S,6,16900,PT16.9S,100,PT0.1S
6,54786,1718900,PT28M38.9S,0,PT0S,1718900,PT28M38.9S,7,32900,PT32.9S,16000,PT16S
7,54785,1719800,PT28M39.8S,0,PT0S,1719800,PT28M39.8S,8,33800,PT33.8S,900,PT0.9S
8,54784,1741700,PT29M1.7S,0,PT0S,1741700,PT29M1.7S,9,55700,PT55.7S,21900,PT21.9S
9,54783,1744300,PT29M4.3S,0,PT0S,1744300,PT29M4.3S,10,58300,PT58.3S,2600,PT2.6S
10,54789,1772100,PT29M32.1S,0,PT0S,1772100,PT29M32.1S,11,86100,PT1M26.1S,27800,PT27.8S
11,54791,1784500,PT29M44.5S,0,PT0S,1784500,PT29M44.5S,12,98500,PT1M38.5S,12400,PT12.4S
12,54796,1799700,PT29M59.7S,0,PT0S,1799700,PT29M59.7S,13,113700,PT1M53.7S,15200,PT15.2S
13,54801,1800700,PT30M0.7S,0,PT0S,1800700,PT30M0.7S,14,114700,PT1M54.7S,1000,PT1S
14,54793,1800900,PT30M0.9S,0,PT0S,1800900,PT30M0.9S,15,114900,PT1M54.9S,200,PT0.2S
15,54794,1803100,PT30M3.1S,0,PT0S,1803100,PT30M3.1S,16,117100,PT1M57.1S,2200,PT2.2S
16,54790,1807000,PT30M7S,0,PT0S,1807000,PT30M7S,17,121000,PT2M1S,3900,PT3.9S
17,54795,1815300,PT30M15.3S,0,PT0S,1815300,PT30M15.3S,18,129300,PT2M9.3S,8300,PT8.3S
18,54792,1815400,PT30M15.4S,0,PT0S,1815400,PT30M15.4S,19,129400,PT2M9.4S,100,PT0.1S
19,54797,1816300,PT30M16.3S,0,PT0S,1816300,PT30M16.3S,20,130300,PT2M10.3S,900,PT0.9S
20,54798,1820300,PT30M20.3S,0,PT0S,1820300,PT30M20.3S,21,134300,PT2M14.3S,4000,PT4S
21,54799,1831000,PT30M31S,0,PT0S,1831000,PT30M31S,22,145000,PT2M25S,10700,PT10.7S
22,54812,1854100,PT30M54.1S,0,PT0S,1854100,PT30M54.1S,23,168100,PT2M48.1S,23100,PT23.1S
23,54823,1861300,PT31M1.3S,0,PT0S,1861300,PT31M1.3S,24,175300,PT2M55.3S,7200,PT7.2S
24,54815,1863500,PT31M3.5S,0,PT0S,1863500,PT31M3.5S,25,177500,PT2M57.5S,2200,PT2.2S
25,54803,1866600,PT31M6.6S,0,PT0S,1866600,PT31M6.6S,26,180600,PT3M0.6S,3100,PT3.1S
26,54821,1868000,PT31M8S,0,PT0S,1868000,PT31M8S,27,182000,PT3M2S,1400,PT1.4S
27,54804,1871400,PT31M11.4S,0,PT0S,1871400,PT31M11.4S,28,185400,PT3M5.4S,3400,PT3.4S
28,54805,1872400,PT31M12.4S,0,PT0S,1872400,PT31M12.4S,29,186400,PT3M6.4S,1000,PT1S
29,54800,1878300,PT31M18.3S,0,PT0S,1878300,PT31M18.3S,30,192300,PT3M12.3S,5900,PT5.9S
30,54822,1893300,PT31M33.3S,0,PT0S,1893300,PT31M33.3S,31,207300,PT3M27.3S,15000,PT15S
31,54813,1893900,PT31M33.9S,0,PT0S,1893900,PT31M33.9S,32,207900,PT3M27.9S,600,PT0.6S
32,54826,1894200,PT31M34.2S,0,PT0S,1894200,PT31M34.2S,33,208200,PT3M28.2S,300,PT0.3S
33,54806,1902700,PT31M42.7S,0,PT0S,1902700,PT31M42.7S,34,216700,PT3M36.7S,8500,PT8.5S
34,54811,1902700,PT31M42.7S,0,PT0S,1902700,PT31M42.7S,35,216700,PT3M36.7S,0,PT0S
35,54814,1904400,PT31M44.4S,0,PT0S,1904400,PT31M44.4S,36,218400,PT3M38.4S,1700,PT1.7S
36,54820,1906200,PT31M46.2S,0,PT0S,1906200,PT31M46.2S,37,220200,PT3M40.2S,1800,PT1.8S
37,54825,1910200,PT31M50.2S,0,PT0S,1910200,PT31M50.2S,38,224200,PT3M44.2S,4000,PT4S
38,54824,1912100,PT31M52.1S,0,PT0S,1912100,PT31M52.1S,39,226100,PT3M46.1S,1900,PT1.9S
39,54833,1912600,PT31M52.6S,0,PT0S,1912600,PT31M52.6S,40,226600,PT3M46.6S,500,PT0.5S
40,54828,1914600,PT31M54.6S,0,PT0S,1914600,PT31M54.6S,41,228600,PT3M48.6S,2000,PT2S
41,54829,1924300,PT32M4.3S,0,PT0S,1924300,PT32M4.3S,42,238300,PT3M58.3S,9700,PT9.7S
42,54802,1924900,PT32M4.9S,0,PT0S,1924900,PT32M4.9S,43,238900,PT3M58.9S,600,PT0.6S
43,54810,1926300,PT32M6.3S,0,PT0S,1926300,PT32M6.3S,44,240300,PT4M0.3S,1400,PT1.4S
44,54816,1947700,PT32M27.7S,0,PT0S,1947700,PT32M27.7S,45,261700,PT4M21.7S,21400,PT21.4S
45,54830,1995300,PT33M15.3S,0,PT0S,1995300,PT33M15.3S,46,309300,PT5M9.3S,47600,PT47.6S
46,54836,1999100,PT33M19.1S,0,PT0S,1999100,PT33M19.1S,47,313100,PT5M13.1S,3800,PT3.8S
47,54807,2015200,PT33M35.2S,0,PT0S,2015200,PT33M35.2S,48,329200,PT5M29.2S,16100,PT16.1S
48,54808,2015500,PT33M35.5S,0,PT0S,2015500,PT33M35.5S,49,329500,PT5M29.5S,300,PT0.3S
49,54819,2016200,PT33M36.2S,0,PT0S,2016200,PT33M36.2S,50,330200,PT5M30.2S,700,PT0.7S
50,54837,2031000,PT33M51S,0,PT0S,2031000,PT33M51S,51,345000,PT5M45S,14800,PT14.8S
51,54788,2043100,PT34M3.1S,0,PT0S,2043100,PT34M3.1S,52,357100,PT5M57.1S,12100,PT12.1S
52,54831,2056400,PT34M16.4S,0,PT0S,2056400,PT34M16.4S,53,370400,PT6M10.4S,13300,PT13.3S
53,54818,2108600,PT35M8.6S,0,PT0S,2108600,PT35M8.6S,54,422600,PT7M2.6S,52200,PT52.2S
54,54834,2133400,PT35M33.4S,0,PT0S,2133400,PT35M33.4S,55,447400,PT7M27.4S,24800,PT24.8S
55,54809,2161300,PT36M1.3S,0,PT0S,2161300,PT36M1.3S,56,475300,PT7M55.3S,27900,PT27.9S
56,54835,2182600,PT36M22.6S,0,PT0S,2182600,PT36M22.6S,57,496600,PT8M16.6S,21300,PT21.3S
57,54817,2261300,PT37M41.3S,0,PT0S,2261300,PT37M41.3S,58,575300,PT9M35.3S,78700,PT1M18.7S
58,54838,2569200,PT42M49.2S,0,PT0S,2569200,PT42M49.2S,59,883200,PT14M43.2S,307900,PT5M7.9S
59,54827,3067500,PT51M7.5S,0,PT0S,3067500,PT51M7.5S,60,1381500,PT23M1.5S,498300,PT8M18.3S

In [ ]:
getControlTimes(534, 34754)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/534/controls/34754/controlTimes.json

,controlTimeId,controlId,entryId,dueDateTime,dueDateTimeLocal,actualDateTime,actualDateTimeLocal,absoluteActualDateTime,absoluteActualDateTimeLocal,source,status
0,1407418,34754,54668,2025-01-24T08:28:00,2025-01-24T09:28:00+01:00,2025-01-24T08:28:00,2025-01-24T09:28:00+01:00,2025-01-24T08:28:00,2025-01-24T09:28:00+01:00,Default,Completed
1,1407444,34754,54669,2025-01-24T08:31:00,2025-01-24T09:31:00+01:00,2025-01-24T08:31:00,2025-01-24T09:31:00+01:00,2025-01-24T08:31:00,2025-01-24T09:31:00+01:00,Default,Completed
2,1407470,34754,54670,2025-01-24T08:34:00,2025-01-24T09:34:00+01:00,2025-01-24T08:34:00,2025-01-24T09:34:00+01:00,2025-01-24T08:34:00,2025-01-24T09:34:00+01:00,Default,Completed
3,1407496,34754,54671,2025-01-24T08:37:00,2025-01-24T09:37:00+01:00,2025-01-24T08:37:00,2025-01-24T09:37:00+01:00,2025-01-24T08:37:00,2025-01-24T09:37:00+01:00,Default,Completed
4,1407522,34754,54672,2025-01-24T08:40:00,2025-01-24T09:40:00+01:00,2025-01-24T08:40:00,2025-01-24T09:40:00+01:00,2025-01-24T08:40:00,2025-01-24T09:40:00+01:00,Default,Completed
...,...,...,...,...,...,...,...,...,...,...,...
63,1408640,34754,54733,2025-01-24T10:04:00,2025-01-24T11:04:00+01:00,2025-01-24T10:04:00,2025-01-24T11:04:00+01:00,2025-01-24T10:04:00,2025-01-24T11:04:00+01:00,Default,Completed
64,1409030,34754,54734,2025-01-24T10:19:00,2025-01-24T11:19:00+01:00,2025-01-24T10:19:00,2025-01-24T11:19:00+01:00,2025-01-24T10:19:00,2025-01-24T11:19:00+01:00,Default,Completed
65,1409082,34754,54735,2025-01-24T10:21:00,2025-01-24T11:21:00+01:00,2025-01-24T10:21:00,2025-01-24T11:21:00+01:00,2025-01-24T10:21:00,2025-01-24T11:21:00+01:00,Default,Completed
66,1408900,34754,54736,2025-01-24T10:14:00,2025-01-24T11:14:00+01:00,2025-01-24T10:14:00,2025-01-24T11:14:00+01:00,2025-01-24T10:14:00,2025-01-24T11:14:00+01:00,Default,Completed
67,1408952,34754,54737,2025-01-24T10:16:00,2025-01-24T11:16:00+01:00,2025-01-24T10:16:00,2025-01-24T11:16:00+01:00,2025-01-24T10:16:00,2025-01-24T11:16:00+01:00,Default,Completed

In [ ]:
getSplitTimes(534, 582, 8213)

https://p-p.redbull.com/rb-wrccom-lintegration-yv-prod/api/events/534/stages/8213/splittimes.json?rallyId=582

,startDateTime,startDateTimeLocal,stageTimeDurationMs,stageTimeDuration,splitPointTimeId,splitPointId,entryId,elapsedDurationMs,elapsedDuration,splitDateTime,splitDateTimeLocal
0,2025-01-24T08:31:00,2025-01-24T09:31:00+01:00,720600.0,00:12:00.6000000,467539,13346,54668,193500,PT3M13.5S,2025-01-24T08:34:13.5,2025-01-24T09:34:13.5+01:00
1,2025-01-24T08:34:00,2025-01-24T09:34:00+01:00,717800.0,00:11:57.8000000,467542,13346,54669,194700,PT3M14.7S,2025-01-24T08:37:14.7,2025-01-24T09:37:14.7+01:00
2,2025-01-24T08:37:00,2025-01-24T09:37:00+01:00,705000.0,00:11:45,467546,13346,54670,189800,PT3M9.8S,2025-01-24T08:40:09.8,2025-01-24T09:40:09.8+01:00
3,2025-01-24T08:40:00,2025-01-24T09:40:00+01:00,711000.0,00:11:51,467554,13346,54671,190700,PT3M10.7S,2025-01-24T08:43:10.7,2025-01-24T09:43:10.7+01:00
4,2025-01-24T08:43:00,2025-01-24T09:43:00+01:00,706400.0,00:11:46.4000000,467563,13346,54672,189200,PT3M9.2S,2025-01-24T08:46:09.2,2025-01-24T09:46:09.2+01:00
...,...,...,...,...,...,...,...,...,...,...,...
457,2025-01-24T10:22:00,2025-01-24T11:22:00+01:00,894000.0,00:14:54,467982,13353,54734,641300,PT10M41.3S,2025-01-24T10:32:41.3,2025-01-24T11:32:41.3+01:00
458,2025-01-24T10:23:00,2025-01-24T11:23:00+01:00,933700.0,00:15:33.7000000,467986,13353,54710,680000,PT11M20S,2025-01-24T10:34:20,2025-01-24T11:34:20+01:00
459,2025-01-24T10:24:00,2025-01-24T11:24:00+01:00,898800.0,00:14:58.8000000,467988,13353,54735,651200,PT10M51.2S,2025-01-24T10:34:51.2,2025-01-24T11:34:51.2+01:00
460,2025-01-24T10:25:00,2025-01-24T11:25:00+01:00,961200.0,00:16:01.2000000,467993,13353,54730,701500,PT11M41.5S,2025-01-24T10:36:41.5,2025-01-24T11:36:41.5+01:00
461,2025-01-24T10:27:00,2025-01-24T11:27:00+01:00,1024500.0,00:17:04.5000000,467997,13353,54729,741700,PT12M21.7S,2025-01-24T10:39:21.7,2025-01-24T11:39:21.7+01:00

## Comparative testing

Compare old and new dataframes.

In [24]:
from wrc_rallydj.livetiming_api import WRCLiveTimingAPIClient

wrc_old = WRCLiveTimingAPIClient(use_cache=True, backend="memory", expire_after=60000)
wrc_old.initialise(eventName="WRC Rally Sweden")

Trying       id         guid                           title                location  \
0   K1Lg  WRC_2025_01              Rallye Monte-Carlo                  Monaco
1   skC3  WRC_2025_02                WRC Rally Sweden                  sweden
2   G2NQ  WRC_2025_03          WRC Safari Rally Kenya         Naivasha, Kenya
3   zhuM  WRC_2025_04        WRC Rally Islas Canarias   Islas Canarias, Spain
4   edGQ  WRC_2025_05  WRC Vodafone Rally de Portugal       Matosinhos, Porto
5   k5hf  WRC_2025_06       WRC Rally Italia Sardegna         Olbia, Sardinia
6   eaYx  WRC_2025_07  WRC EKO Acropolis Rally Greece                   Lamia
7   aIpJ  WRC_2025_08         WRC Delfi Rally Estonia                 Estonia
8   CaGI  WRC_2025_09         WRC Secto Rally Finland               Jyvskyl
9   nMcx  WRC_2025_10          WRC Rally del Paraguay                Paraguay
10  XpJ0  WRC_2025_11         WRC Rally Chile Bio Bo              Concepcion
11  nQmX  WRC_2025_12      WRC Central European Rally  Bad Griesbach, Bavaria
12  CMXn  WRC_2025_13          WRC FORUM8 Rally Japan                  Nagoya
13  WxyZ  WRC_2025_14          WRC Rally Saudi Arabia            Saudi Arabia

        startDate        endDate eventId rallyId  \
0   1737558000000  1737898200000     534     582
1   1739433600000  1739718000000     535     583
2   1742450400000  1742734800000     536     584
3   1745478000000  1745762400000     538     586
4   1747296000000  1747580400000     540     588
5   1749106800000  1749391200000     542     590
6   1750917600000  1751202000000     544     592
7   1752732000000  1753016400000     546     594
8   1753941600000  1754226000000     547     595
9   1756386000000  1756670400000     549     597
10  1757592000000  1757876400000     551     599
11  1760599800000  1760880600000     553     601
12  1762387200000  1762671600000     554     602
13  1764223200000  1764507600000     555     603

                                          description  round  ...   uid  \
0   The most unpredictable rally of the year. Rela...      1  ...  K1Lg
1   The WRCs ultimate winter challenge. Watch in ...      2  ...  skC3
2   Held on the untamed terrains of Africas breat...      3  ...  G2NQ
3   Well-known to FIA European Rally Championship ...      4  ...  zhuM
4   Fast but technical gravel roads inland from Po...      5  ...  edGQ
5   Dont let the picturesque Mediterranean backdr...      6  ...  k5hf
6   A legendary WRC fixture. Twisty gravel mountai...      7  ...  eaYx
7   Back on the WRC Calendar! With its' super fast...      8  ...  aIpJ
8   A mecca for rally drivers and enthusiasts alik...      9  ...  CaGI
9   Welcome to the 2025 WRC calendar! Rally del Pa...     10  ...  nMcx
10  Based in Concepcin, Chile's second-largest ci...     11  ...  XpJ0
11  Rallying in three countries! From the scenic a...     12  ...  nQmX
12  FORUM8 Rally Japan - the home of 2022, 2023 an...     13  ...  CMXn
13  The 2025 WRC season concludes with the highly-...     14  ...  WxyZ

      seriesUid releaseYear    availableOn  availableTill  \
0   WRC_2025_01        2025  1737558000000  1737898200000
1   WRC_2025_02        2025  1739433600000  1739718000000
2   WRC_2025_03        2025  1742450400000  1742734800000
3   WRC_2025_04        2025  1745478000000  1745762400000
4   WRC_2025_05        2025  1747296000000  1747580400000
5   WRC_2025_06        2025  1749106800000  1749391200000
6   WRC_2025_07        2025  1750917600000  1751202000000
7   WRC_2025_08        2025  1752732000000  1753016400000
8   WRC_2025_09        2025  1753941600000  1754226000000
9   WRC_2025_10        2025  1756386000000  1756670400000
10  WRC_2025_11        2025  1757592000000  1757876400000
11  WRC_2025_12        2025  1760599800000  1760880600000
12  WRC_2025_13        2025  1762387200000  1762671600000
13  WRC_2025_14        2025  1764223200000  1764507600000

               startDateLocal               endDateLocal     finishDate  \
0   2025-01-22T16:00:00+01:00  2025-01-26T14:30:00+01:00  1737898200000
1   2025-02-13T09:00:00+01:00  2025-02-16T16:00:00+01:00  1739718000000
2   2025-03-20T09:00:00+03:00  2025-03-23T16:00:00+03:00  1742734800000
3   2025-04-24T09:00:00+02:00  2025-04-27T16:00:00+02:00  1745762400000
4   2025-05-15T09:00:00+01:00  2025-05-18T16:00:00+01:00  1747580400000
5   2025-06-05T09:00:00+02:00  2025-06-08T16:00:00+02:00  1749391200000
6   2025-06-26T09:00:00+03:00  2025-06-29T16:00:00+03:00  1751202000000
7   2025-07-17T09:00:00+03:00  2025-07-20T16:00:00+03:00  1753016400000
8   2025-07-31T09:00:00+03:00  2025-08-03T16:00:00+03:00  1754226000000
9   2025-08-28T09:00:00-04:00  2025-08-31T16:00:00-04:00  1756670400000
10  2025-09-11T09:00:00-03:00  2025-09-14T16:00:00-03:00  1757876400000
11  2025-10-16T09:30:00+02:00  2025-10-19T15:30:00+02:00  1760880600000
12  2025-11-06T09:00:00+09:00  2025-11-09T16:00:00+09:00  1762671600000
13  2025-11-27T09:00:00+03:00  2025-11-30T16:00:00+03:00  1764507600000

   championship                                   championshipLogo
0           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
1           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
2           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
3           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
4           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
5           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
6           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
7           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
8           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
9           WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
10          WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
11          WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
12          WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...
13          WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...

[14 rows x 29 columns]
got      id         guid             title location      startDate        endDate  \
1  skC3  WRC_2025_02  WRC Rally Sweden   sweden  1739433600000  1739718000000

  eventId rallyId                                        description  round  \
1     535     583  The WRCs ultimate winter challenge. Watch in ...      2

   ...   uid    seriesUid releaseYear    availableOn  availableTill  \
1  ...  skC3  WRC_2025_02        2025  1739433600000  1739718000000

              startDateLocal               endDateLocal     finishDate  \
1  2025-02-13T09:00:00+01:00  2025-02-16T16:00:00+01:00  1739718000000

  championship                                   championshipLogo
1          WRC  [{'url': 'https://wrc-static.enhance.diagnal.c...

[1 rows x 29 columns]

In [ ]:
xx = wrc_old.getPenalties()
xx.columns, xx.head()

(Index(['id', 'carNo', 'driverId', 'driverCountry', 'driverCountryImage',
        'driver', 'coDriverId', 'coDriverCountry', 'coDriverCountryImage',
        'coDriver', 'teamId', 'team/car', 'teamName', 'teamLogo', 'eligibility',
        'groupClass', 'rallyId', 'entryId', 'controlId', 'penaltyTime',
        'penaltyDuration', 'penaltyDurationMs', 'reason', 'control'],
       dtype='object'),
      id carNo                              driverId driverCountry  \
 0  7208   #66  917a7353-c28f-5fa4-b9f2-3afc0f6993e9       Belgium
 1  7209   #70  d075fa9c-91dd-58a3-9a14-c24fe8fdb7f2          Peru
 2  7210   #51  bb8301ac-ba00-57ff-ad20-0e03a535cb0c    Greece IOC
 3  7211   #70  d075fa9c-91dd-58a3-9a14-c24fe8fdb7f2          Peru
 4  7212   #41  5420dcab-71e0-5b63-a8f5-65ce359ed1e0        Turkey

   driverCountryImage              driver  \
 0      Flags/BEL.png       Lyssia BAUDET
 1      Flags/PER.png      Jorge MARTNEZ
 2      Flags/GRE.png  Georgios VASILAKIS
 3      Flags/PER.png      Jorge MARTNEZ
 4      Flags/TUR.png          Ugur SOYLU

                              coDriverId coDriverCountry coDriverCountryImage  \
 0  2768ad78-c98d-5c2d-abc2-f22615e2d45d          France        Flags/FRA.png
 1  05d5b534-4d68-5917-b962-3bb60443f3ab       Chile IOC        Flags/CHI.png
 2  3559285b-9156-5a71-91f8-a0087c496163  United Kingdom        Flags/GBR.png
 3  05d5b534-4d68-5917-b962-3bb60443f3ab       Chile IOC        Flags/CHI.png
 4  212fd39a-d7ab-5a50-bd59-f90c95b92aaa          Turkey        Flags/TUR.png

             coDriver  ...    eligibility groupClass rallyId entryId controlId  \
 0  Lea SAM CAW FREVE  ...    JWRC / WRC3        RC3     583   54831     35240
 1  Jos Alberto AROS  ...           (DM)        RC2     583   54834     35212
 2     Allan HARRYMAN  ...   WRC3 (DM/CM)        RC3     583   54817     35252
 3  Jos Alberto AROS  ...           (DM)        RC2     583   54834     35255
 4        Sener GRAY  ...  WRC2 (DCM/CC)        RC2     583   54807     35213

   penaltyTime penaltyDuration penaltyDurationMs        reason control
 0        10.0           PT10S             10000    1 MIN LATE     TC5
 1        10.0           PT10S             10000    1 MIN LATE    TC8D
 2        10.0           PT10S             10000    1 MIN LATE     TC9
 3       1:0.0            PT1M             60000   1 MIN EARLY    TC10
 4      4:30.0         PT4M30S            270000  27 MINS LATE   TC11A

 [5 rows x 24 columns])